<footer class="footer" style="overflow-x: hidden;">

    <div class="footer-part">

      <div class="footer-5div">

        <div class="footer-5things footerone" style="background-color: transparent;">
          <h4 class="footerone">Quick Links</h4>
          <a href="/" class="footertxt footerone">Home</a>
          <a href="/aboutVaruna" class="footertxt footerone">About Varuna</a>
          <a href="/career" class="footertxt footerone">Career</a>
          <a href="/contact" class="footertxt footerone">Contact</a>
          <a href="/csr" class="footertxt footerone">CSR</a>
        </div>


        <!-- <div class="footer-5things" style="background-color: transparent;">
          <h4>Products</h4>
          <a href="Energy Efficent-Induction.html" class="footertxt">Induction Motors</a>
          <a href="Borewell Submersible.html" class="footertxt">Submersible Pupms</a>
          <a href="Centrifugal Monoblock.html" class="footertxt">Monoblock Pumps</a>
          <a href="Centrifugal Regenerative.html" class="footertxt">Self-Priming Pumps</a>
          <a href="Solar Pumping System.html" class="footertxt">Solar Pumps</a>
        </div> -->

        <div class="footer-5things" style="background-color: transparent;">
          <h4>Application</h4>
          <a href="/agriculture" class="footertxt">Agriculture</a>
          <a href="/commercial" class="footertxt">Commercial</a>
          <a href="/domesticResidental" class="footertxt">Domestic / Residental</a>
          <a href="/industrial" class="footertxt">Industrial</a>
          <a href="/solar" class="footertxt">Solar</a>
        </div>

        <div class="footer-5things" style="background-color: transparent;">
          <h4>Media</h4>
          <a href="/events" class="footertxt">Events</a>
          <a href="/news" class="footertxt">News</a>
          <a href="/gallery" class="footertxt">Gallery</a>
        </div>


        <div class="footer-5things" style="background-color: transparent;">
          <h4>Contact</h4>

          <p>La-Gajjar Machineries Pvt. Ltd.
            CIN :: U17110GJ1981PTC004263
          </p>

          <p>Acidwala estate, Nagarwel Hanuman Road, Amraiwadi, Ahmedabad - 380 026 Gujarat. (INDIA)
          </p>
        </div>

      </div>

    </div>

    <br><br>

    <div class="footer2">

      <div class="footer-lastsection" style="background-color: transparent;">
        <p style="padding-left: 25px;">Toll free</p>
        <i class="fa-solid fa-phone" style="color: red;"></i> <span style="color: red;">1800 258 2565
        </span>
      </div>


      <div class="footer-lastsection" style="background-color: transparent;">
        <p style="padding-left: 25px;">Contact</p>
        <i class="fa-solid fa-phone" style="color: red;"></i> <span style="color: red;">+91-79-22777485 / 487
        </span>
      </div>


      <div class="footer-lastsection" style="background-color: transparent;">
        <p style="padding-left: 25px;">Mail us</p>
        <i class="fa-regular fa-envelope" style="color: red;"></i> <span style="color: red;">crm@lgmindia.com
        </span>
      </div>


      <div class="footer-lastsection" style="background-color: transparent;">
        <i class="fa-brands fa-facebook-f" id="footer-icons"></i>
        <i class="fa-brands fa-linkedin-in" id="footer-icons"></i>
        <a href="https://www.instagram.com/varunaelectric?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
          style="color: black;"><i class="fa-brands fa-instagram" id="footer-icons"></i></a>
        <a href="https://youtube.com/@varunapumps?si=RJ2O2EUKYH3WRSbz" style="color: black;"><i
            class="fa-brands fa-youtube" id="footer-icons"></i></a>
      </div>


    </div>

    <div style="height: 100px;">
      <p style="padding-left: 40px; padding-top: 30px;">Copyright © 2024 La-Gajjar Machineries Pvt.Ltd. All Rights
        reserved.</p>

    </div>


  </footer>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js/script.js"></script>
