<header id="nav-head">

    <div id="globe">
      <a href="/globalHead" id="nav-global"><i class="fa-solid fa-earth-asia" style="font-size: 23px;"></i></a>
      <a href="/globalHead" id="txt-globe">Global</a>
    </div>

    <div id="nav-line">
      <i class="fa-solid fa-grip-lines-vertical" style="margin-left: 23px;"></i>
    </div>

    <a href="/" id="nav-location">
      <div id="nav-img"> </div>
      <p id="nav-domestic">Domestic</p>
    </a>


    <a href="/serviceCenter" id="nav-service">
      <i class="fa-solid fa-location-dot" style="font-size: 20px;"></i>
      <p id="txt-service">Service Locator</p>
    </a>

  </header>

  <section id="body-section">

    <div id="varuna-logo">
      <a href="/"><img src="/images/main-logo.png" id="main-logo" alt=""></a>
    </div>

    <nav id="nav-menu">

      <p class="menu-select">
        <a href="/" class="menu-select">Home</a>
      </p>


   
      <!-- dropdown list from bootstrap -->


      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          About varuna
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/aboutVaruna">About Varuna</a></li>
          <hr>
          <li><a class="dropdown-item" href="/aboutCompany">About us</a></li>
          <hr>
          <li><a class="dropdown-item" href="/bod">Board Of Directors</a></li>
          <hr>
          <li><a class="dropdown-item" href="/milestone">Milestone</a></li>
          <hr>
          <li><a class="dropdown-item" href="/infrastructure">Infrastructres</a></li>
          <hr>
          <li><a class="dropdown-item" href="/companyPolicy">Conmpany Policies</a></li>
          <hr>
          <li><a class="dropdown-item" href="/qualityPolicy">Quality Policy</a></li>
        </ul>
      </div>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Products
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="Products.html">Products</a></li>
          <hr>
          <li><a class="dropdown-item" href="Borewell Submersible.html">Borewell Submersible Pumps</a>
          </li>
          <hr>
          <li><a class="dropdown-item" href="Openwell Submersible.html">Openwell Submersible Pumps</a>
          </li>
          <hr>
          <li><a class="dropdown-item" href="Centrifugal Monoblock.html">Centrifugal Monoblock Pumps</a>
          </li>
          <hr>
          <li><a class="dropdown-item" href="Energy Efficent-Induction.html">Energy Efficent-Induction Mototrs</a>
          </li>
          <hr>
          <li><a class="dropdown-item" href="Centrifugal Regenerative.html">Centrifugal Regenerative <br> Self
              Priming
              Pumps</a></li>
          <hr>
          <li><a class="dropdown-item" href="Solar Pumping System.html">Solar Pumping System</a></li>
        </ul>
      </div>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Applications
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/agriculture">Agriculture</a></li>
          <hr>
          <li><a class="dropdown-item" href="/commercial">Commercial</a></li>
          <hr>
          <li><a class="dropdown-item" href="/domesticResidental">Domestic / Residental</a></li>
          <hr>
          <li><a class="dropdown-item" href="/industrial">Industrial</a></li>
          <hr>
          <li><a class="dropdown-item" href="/solar">Solar</a></li>
        </ul>
      </div>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Career
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/career">Career</a></li>
          <hr>
          <li><a class="dropdown-item" href="/jobOpenings">Job Openings</a></li>
          <hr>
          <li><a class="dropdown-item" href="/lifeAtVaruna">Life At Varuna</a></li>
        </ul>
      </div>


      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Media
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/media">Media</a></li>
          <hr>
          <li><a class="dropdown-item" href="/events">Events</a></li>
          <hr>
          <li><a class="dropdown-item" href="/news">News</a></li>
          <hr>
          <li><a class="dropdown-item" href="/gallery">Gallery</a></li>
        </ul>
      </div>

      <p class="menu">
        <a href="/csr" class="menu-select">CSR</a>
      </p>

    </nav>




    <div class="menu-contact">
      <!-- <select name="menu" class="menu-contact">
                <option value=""><a href="contact.html" class="menu-contact">Contact</a></option>
            </select> -->

      <!-- dropdown list from bootstrap -->

      <p style="margin-right: 30px;"><a href="/auth/login" style="text-decoration: none; color: black;">Login</a></p>

      <p style="margin-right: 30px;"><a href="/suggestion"
          style="text-decoration: none; color: black;">Suggestion</a>
      </p>


      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Contact
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/contact">Contact</a></li>
          <hr>
          <li><a class="dropdown-item" href="/address">Addresses</a></li>
          <hr>
          <li><a class="dropdown-item" href="/serviceCenter">Service Center</a></li>
          <hr>
          <li><a class="dropdown-item" href="/complaintForm">Complaint Form</a></li>
          <hr>
          <li><a class="dropdown-item" href="/warrantyRegistration">Warranty Registration</a></li>
          <hr>
          <li><a class="dropdown-item" href="/writeToUs">Write To Us</a></li>
        </ul>
      </div>
    </div>



    <div id="contact-icon" style="visibility: hidden;">
      <a href="contact-page.html"><i class="fa-solid fa-phone-volume" style="color: grey;"></i></a>
    </div>

    <div id="search-icon" style="visibility: hidden;">
      <a href="search.html"><i class="fa-solid fa-magnifying-glass" style="color: grey;"></i></a>
    </div>






    <!-- hamburger code here   -->

    <div id="hamburger">

      <!-- <a href="hamburger.html"></a> -->
      <i class="fa-solid fa-bars" style="color: red;"></i>
      <div id="hamburger-slide" style="display: none; height: 100vh;">
        <div style="position: absolute; top: 40%; left: 50%; transform: translate(-50%,-50%); height: 100vh;"
          id="hamburger-slide-part">
          <!-- <p style="color: black;">hello </p> -->


          <div id="varuna-img">

          </div>

          <div id="cross-icon">
            <i class="fa-solid fa-xmark" style="color: red; margin-top: -50px;"></i>
          </div>


          <nav id="menu">
            <p class="menu-select">
              <a href="/" class="menu-select">Home</a>
            </p>

            <!-- <select name="menu" class="menu-select">
                      <option value="about"><a href="about-varuna.html">About Varuna</a></option>
                      <option value="about us">About us</option>
                  </select>
                  <select name="menu" class="menu-select">
                      <option value="product"><a href="product.html">Product</a></option>
                  </select>
                  <select name="menu" class="menu-select">
                      <option value="application"><a href="application.html">Application</a></option>
                  </select>
                  <select name="menu" class="menu-select">
                      <option value="career"><a href="career.html">Career</a></option>
                  </select>
                  <select name="menu" class="menu-select">
                      <option value="media"><a href="media.html">Media</a></option>
                  </select> -->







            <div class="dropdown">

              <button class="btn btn-secondary dropdown-toggle" id="drop" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                About varuna
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/aboutVaruna">About Varuna</a></li>
                <li><a class="dropdown-item" href="/aboutCompany">About us</a></li>
                <li><a class="dropdown-item" href="/bod">Board Of Directors</a></li>
                <li><a class="dropdown-item" href="/milestone">Milestone</a></li>
                <li><a class="dropdown-item" href="/infrastructure">Infrastructres</a></li>
            <li><a class="dropdown-item" href="/companyPolicy">Company Policies</a></li>
                <li><a class="dropdown-item" href="/qualityPolicy">Quality Policy</a></li>
              </ul>
            </div>

            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" id="drop" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Products
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="Products.html">Products</a></li>
                <li><a class="dropdown-item" href="Borewell Submersible.html">Borewell Submersible <br> Pumps</a></li>
                <li><a class="dropdown-item" href="Openwell Submersible.html">Openwell Submersible <br> Pumps</a></li>
                <li><a class="dropdown-item" href="Centrifugal Monoblock.html">Centrifugal Monoblock <br> Pumps</a></li>
                <li><a class="dropdown-item" href="Energy Efficent-Induction.html">Energy Efficent-Induction <br>
                    Mototrs</a></li>
                <li><a class="dropdown-item" href="Centrifugal Regenerative.html">Centrifugal Regenerative <br> Self
                    Priming Pumps</a></li>
                <li><a class="dropdown-item" href="Solar Pumping System.html">Solar Pumping System</a></li>
              </ul>
            </div>

            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" id="drop" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Applications
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/agriculture">Agriculture</a></li>
                <li><a class="dropdown-item" href="/commercial">Commercial</a></li>
                <li><a class="dropdown-item" href="/domesticResidental">Domestic / Residental</a></li>
                <li><a class="dropdown-item" href="/industrial">Industrial</a></li>
                <li><a class="dropdown-item" href="/solar">Solar</a></li>
              </ul>
            </div>

            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" id="drop" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Career
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/career">Career</a></li>
                <li><a class="dropdown-item" href="/jobOpenings">Job Openings</a></li>
                <li><a class="dropdown-item" href="/lifeAtVaruna">Life At Varuna</a></li>
              </ul>
            </div>


            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" id="drop" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Media
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/media">Media</a></li>
                <li><a class="dropdown-item" href="/events">Events</a></li>
                <li><a class="dropdown-item" href="/news">News</a></li>
                <li><a class="dropdown-item" href="/gallery">Gallery</a></li>
              </ul>
            </div>


            <p class="menu">
              <a href="/csr" class="menu-select">CSR</a>
            </p>

            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" id="drop" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Contact
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/contact">Contact</a></li>
                <li><a class="dropdown-item" href="/address">Addresses</a></li>
                <li><a class="dropdown-item" href="/serviceCenter">Service Center</a></li>
                <li><a class="dropdown-item" href="/complaintForm">Complaint Form</a></li>
                <li><a class="dropdown-item" href="/warrantyRegistration">Warranty Registration</a></li>
                <li><a class="dropdown-item" href="/writeToUs">Write To Us</a></li>
              </ul>
            </div>
        </div>

        <div class="shop-cart">
          <p class="s-c"><a href="" style="text-decoration: none; color: red;">Shop</a></p>
          <p class="s-c"><a href="addtocart.html" style="text-decoration: none; color: red;">Add to Cart</a></p>
        </div>

        <!-- <select name="menu" class="menu-select">
                      <option value="contact"><a href="contact.html">Contact</a></option>
                  </select> -->


        </nav>

        <div id="reg-log">
          <p class="sign"><a href="/suggestion" style="text-decoration: none; color: red;">Suggestion</a></p>
          <p class="sign"><a href="/loginpage" style="text-decoration: none; color: red;">Login</a></p>
        </div>

      </div>

    </div>

    </div>
  </section>