<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh"  content="10"> this meta is for refrshing page  -->
    <title>Varuna Pumps</title>
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
  
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
    
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
  
    <link rel="stylesheet" href="/css/aboutCompany.css">
    <link rel="stylesheet" href="/css/utility.css">
    <script src="public/js/dark_mode.js"></script>
  
    
    <script>
      $(document).ready(function () {
  
        $("#visit").click(function () {
          $("#warning").hide();
        });
  
  
  
        $("#hamburger").click(function () {
          $("#hamburger-slide").show();
          $("#hamburger-slide").css({
            "height": "150vh", "width": "100vw", "left": "0px", "background-color": "white",
            "position": "absolute", "top": "-70px", "z-index": "10"
          });
        });
  
        $("#cross-icon").click(function () {
          // $("#hamburger").hide();
          $("#hamburger-slide").slideUp();
          // $("#hamburger-slide").css({ "display": "none" });
          // $("#hamburger").show();
        });
  
      });
    </script>
  
  </head>
<body>



<!-- header code is on views/includes/header.ejs file -->
<%- include('includes/header')%>
<!-- header code is between this comments -->

   

    <!-- main starts from here -->


    <main style="margin-top: -150px;">

        <div id="main1">


            <div class="main-1part">
                <div class="main-1txt"
                    style="background-image: url(images/About-company-img.png); width: 150px; height: 250px; background-size: contain; background-repeat: no-repeat; margin-top: 150px; border-radius: 10px;">
                </div>


                <div class="main-1txt"> <!--1st-->
                    <h3>About <span style="color: red;">Company</span></h3>
                    <p>Varuna Electric was the brainchild of legendary industrialist Late Shri Laljibhai J. Gajjar that
                        has now turned into India's most favorite brand for pumping solutions.
                    </p>
                    <p>Commenced in the heart of Gujarat, Ahmedabad, with a one-of-a-kind hand blower, today, it has
                        evolved into one of the most reputed and globally acclaimed brands dealing in submersible pumps
                        and open well motors. Varuna Electric is a brand that fuels the noteworthy legacy that has
                        undeniably defined us for more than 85 years.
                    </p>
                    <p>What started in 1935 with just one product, today we’re at the stage of adding different product
                        verticals and horizontals, satisfying consumers one product at a time and growing exponentially.
                        With a pan-India presence of over 20 branches and 600+ distributors, export web spread across
                        50+ countries, and an annual production capacity of over half a million pumps, we intend to
                        challenge ourselves to higher standards with our solutions in the days to come.
                    </p>
                    <p>Having more than eight decades’ worth of experience in the industry and foresight passed down
                        from generations, we have genuinely earned the trust of our clients as well as employees with
                        our stellar products.
                    </p>
                    <p>Varuna Electric has had a rollercoaster journey serving customers and is committed to constantly
                        upgrading, upskilling and reinventing every part of the process.
                    </p>
                </div>

            </div>

        </div>



        <div id="main2"> <!--2nd-->


            <div class="main-2part">
                <div class="main-2txt"
                    style="background-image: url(images/flourshing-legacy-img.png); width: 150px; height: 250px; background-size: contain; background-repeat: no-repeat; margin-top: 90px; border-radius: 10px;">
                </div>

                <div class="main-2txt">
                    <h3>A flourishing <span style="color: red;">legacy</span></h3>
                    <p>Varuna Electric has time and again proved not only to its customers but its employees,
                        shareholders, and the entire industry of being a true undisputed leader in the pumping market.
                        Offering a vast selection of over 1000+ models of submersible pumps and motors from 3″ – 10″
                        including Borewell and Openwell pumps, Centrifugal Monoblock Pumps, Mini Monoblock Pumps, and
                        Solar Pumpset, we have definitely made long strides into reaching and standing where we are
                        right now.
                    </p>

                    <p>The driving force behind our success is our incredible team of more than 87 marketing
                        professionals, a service support team of 25 service engineers available 24/7 at your service,
                        and over 120 authorized service centers functional pan-India.
                    </p>
                </div>
            </div>


        </div>



        <div id="main2" style="margin-top: -70px;"> <!--3rd-->


            <div class="main-2part" style="background-color: transparent;">
                <div class="main-2txt"
                    style="background-image: url(images/vision&mission-img.png); width: 150px; height: 250px; background-size: contain; background-repeat: no-repeat; margin-top: 90px; border-radius: 10px;">
                </div>

                <div class="main-2txt">
                    <h3><i class="fa-regular fa-eye"></i>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: red;">legacy</span>
                    </h3>
                    <p>To be the preferred water solutions Company for the domestic and agricultural sector across the
                        world by virtue of its vision, techno-pioneering spirit, reliable technology, and a
                        growth-focused, customer-centric approach.
                    </p>

                    <h3><i class="fa-solid fa-bullseye"></i>&nbsp;&nbsp;&nbsp;&nbsp;<span
                            style="color: red;">Mission</span></h3>

                    <p>To work relentlessly towards the Company’s vision. To reach out to customers across sectors and
                        geographic domains. To build prosperous partnerships across the world. To set new standards in
                        pumping solutions and to respond efficiently to the world’s water and energy challenges.
                    </p>
                </div>
            </div>

        </div>





        <div id="main2" style="margin-top: -50px;"> <!--4th-->


            <div class="main-2part">
                <div class="main-2txt"
                    style="background-image: url(images/Our-values-img.png); width: 150px; height: 250px; background-size: contain; background-repeat: no-repeat; margin-top: 90px; border-radius: 10px;">
                </div>

                <div class="main-2txt">
                    <h3>Our <span style="color: red;">Values</span></h3>
                    <p>At Varuna, we perceive ourselves to be more than just a manufacturing company- with the services
                        we add value to water and literally the reason behind billions of lifelines. We always stay true
                        to our values and strictly conform to behavioral values that abide by the highest standard of
                        ethical conduct.
                    </p>

                    <h4 style="color: red;">Excellence</h4>
                    <p style="margin-left: 20px;">In everything we do, quality without compromise</p>
                    <h4 style="color: red;">Integrity</h4>
                    <p style="margin-left: 20px;">Say what we do, and do what we say</p>
                    <h4 style="color: red;">Collaboration</h4>
                    <p style="margin-left: 20px;">We grow with people and partners</p>
                    <h4 style="color: red;">Empathy</h4>
                    <p style="margin-left: 20px;">We always listen and learn</p>
                    <h4 style="color: red;">Value Creation</h4>
                    <p style="margin-left: 20px;">We’re building for a shared prosperous future</p>
                    <h4 style="color: red;">Innovative Thinking</h4>
                    <p style="margin-left: 20px;">Be bold and brave, and stay relevant</p>

                </div>
            </div>


        </div>



        <div id="main2" style="margin-top: 210px;"> <!--4th-->


            <div class="main-2part">
                <div class="main-2txt"
                    style="background-image: url(images/setting-benchmark-img.png); width: 150px; height: 250px; background-size: contain; background-repeat: no-repeat; margin-top: 100px; border-radius: 10px;">
                </div>

                <div class="main-2txt">
                    <h3>Setting <span style="color: red;">benchmarks</span></h3>
                    <ul style="color: red;">
                        <li><span style="color: black;">Over 8 decades of engineering expertise</span></li><br>
                        <li><span style="color: black;">Leader in agriculture pump sets (150-440 volts)
                            </span></li><br>
                        <li><span style="color: black;">Leader in domestic pump sets (120-240 volts)
                            </span></li><br>
                        <li><span style="color: black;">500 models of submersible pumps and motors from 3" – 10"
                            </span></li><br>
                        <li><span style="color: black;">Maximum star rated pump sets approved by the Bureau of Energy
                                Efficiency (BEE), Government of India
                            </span></li><br>
                        <li><span style="color: black;">Energy efficient pumps that consume less power, save electricity
                                and give higher returns on initial investment
                            </span></li><br>
                        <li><span style="color: black;">Efficient pumps that work even at 1000 + ft. depth
                            </span></li><br>
                        <li><span style="color: black;">1,00,000 sqm infrastructure with state-of-the-art machineries
                            </span></li><br>
                        <li><span style="color: black;">Exports to more than 50 countries
                            </span></li><br>
                        <li><span style="color: black;">Government recognised Star rated Export House
                            </span></li><br>
                        <li><span style="color: black;">Product certified by ISO 9001, IS: 8034, IS: 9283, IS: 14220 &
                                CE
                            </span></li>
                    </ul>

                </div>
            </div>


        </div>





        <div id="main2" style="margin-top: 250px;"> <!--5th-->


            <div class="main-2part">
                <div class="main-2txt"
                    style="background-image: url(images/Roadmaps-img.png); width: 150px; height: 250px; background-size: contain; background-repeat: no-repeat; margin-top: 90px; border-radius: 10px;">
                </div>

                <div class="main-2txt">
                    <h3>The <span style="color: red;">Roadmaps</span></h3>

                    <ul style="color: red;">
                        <li><span style="color: black;">To attain a turnover of INR 1000 Crores by 2025
                            </span></li><br>
                        <li><span style="color: black;">To have comprehensive presence in the Indian Submersible Pump
                                market
                            </span></li><br>
                        <li><span style="color: black;">To be world’s leading 4” Oil Filled & Water Filled pump
                                manufacturing company
                            </span></li><br>
                        <li><span style="color: black;">To give seamless products to the market to become a world-class
                                pump company
                            </span></li><br>
                        <li><span style="color: black;">Through R&D, develop new designs and products to cater to the
                                requirements of changing customer needs and opportunities
                            </span></li><br>
                        <li><span style="color: black;">To improve and develop world-class health & safety standards and
                                welfare activities.
                            </span></li><br>

                    </ul>

                </div>
            </div>


        </div>




    </main>


   <!-- footer code is on views/includes/footer.ejs file -->
 <%- include('includes/footer')%>
 <!-- footer code is between this comments -->





    <div id="back-top">
        <a href="#"><i class="fa-solid fa-chevron-up" style="font-size: 15px; color: white;"></i></a>
    </div>




</body>

</html>