<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Branch Manager</title>
    <style>
        li {
            font-family: sans-serif;
            font-size: 17px;
        }

        select {
            font-family: sans-serif;
            font-size: 17px;
        }

        input {
            border: 2px solid grey;
            border-radius: 5px;

        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid #ccc;
            padding: 0.5rem;
        }

        th {
            background-color: #f0f0f0;
            text-align: center;
        }
    </style>
</head>

<body>
    <p style="margin-left: 25px; font-size: 25px; font-family: sans-serif;">
        Branch Manager
        &nbsp;&nbsp;&nbsp;
        <span>
            <a href="/jobOpenings"><button>BACK TO THE PAGE</button></a>
        </span>
    </p>
    <br>
    <h4 style="margin-left: 25px;">
        Job Requirment
    </h4>

    <ul style="color: red;">
        <li><span style="color: black;">
            Directed a staff of sales associates and manage the huge Dealers network in a highly competitive environment.
        </span></li><br>
        <li><span style="color: black;">
            New Dealers & Distributors Appointment, Management and Market share Development.
        </span></li><br>
        <li><span style="color: black;">
            Implementing the sales plan to achieve established sales and financial goals.
        </span></li><br>
        <li><span style="color: black;">
            Supporting and managing the Marketing Team. Team leadership and Decision making.
        </span></li><br>
        <li><span style="color: black;">
            Monitoring and analyzing Market trends and Competitors Activities.
        </span></li><br>
        <li><span style="color: black;">
            And responsibilities include monitor,  and report on all marketing activities and results.
        </span></li><br>
        <li><span style="color: black;">
            Responsible for all branch activity
        </span></li><br>
        <li><span style="color: black;">
            Responsible for Branch Target
        </span></li><br>
        <li><span style="color: black;">
            Can super head the marketing process and functions & can lead the team of marketing professionals.
        </span></li><br>
        <li><span style="color: black;">
            Motivate team with ability to expose to the commercial aspects of the business, Must accustomed to voluminous business.
        </span></li>
    </ul> <br>
    
    <h4 style="margin-left: 25px;">
        Candidate profile / Skills:
    </h4>

    <ul style="color: red;">
        <li><span style="color: black;">
            Product knowledge
        </span></li><br>
        <li><span style="color: black;">
            Communication and convincing power
        </span></li><br>
        <li><span style="color: black;">
            Manpower management/Team Management
        </span></li><br>
        <li><span style="color: black;">
            Area/territory knowledge
        </span></li><br>
        <li><span style="color: black;">
            Market awareness
        </span></li><br>
        <li><span style="color: black;">
            Presentable and Excellent interpersonal skills
        </span></li>
    </ul> <br>


<form action="">

    <h2 style="margin-left: 25px; ">Submit <span style="color: red;">Your Resume</span></h2>

    <div style="margin-left: 10%; ">
        <input type="text" placeholder="First name" required style="width: 300px; height: 30px; font-size: 17px;">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" placeholder="Middle name" required
            style="width: 300px; height: 30px; font-size: 17px;">&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" placeholder="Last name" required style="width: 300px; height: 30px; font-size: 17px;">
    </div>

    <br>

    <div style="margin-left: 10%;">
        <input type="number" placeholder="Contact no" required
            style="width:  300px; height: 30px; font-size: 17px;">&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="email" placeholder="Email id" required
            style="width:  300px; height: 30px; font-size: 17px;">&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="date" placeholder="" required style="width: 300px; height: 30px; font-size: 17px;">
    </div>
    <br>

    <p style="margin-left: 10%; font-size: 18px;">Current <span style="color: red;">Address</span></p>

    <div style="margin-left: 10%; ">
        <input type="text" placeholder="Address line1" required style="width: 300px; height: 30px; font-size: 17px;">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" placeholder="Address line2" required
            style="width: 300px; height: 30px; font-size: 17px;">&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" placeholder="City" required style="width: 300px; height: 30px; font-size: 17px;">
    </div>

    <br>

    <div style="margin-left: 10%;">
        <input type="text" placeholder="State" required
            style="width: 300px; height: 30px; font-size: 17px;">&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="number" placeholder="Pincode" required
            style="width: 300px; height: 30px; font-size: 17px;">&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" placeholder="Country" required style="width: 300px; height: 30px; font-size: 17px;">
    </div>
    <br>

    <p style="margin-left: 10%; font-size: 18px;">Permanent <span style="color: red;">Address</span></p>

    <div style="margin-left: 10%; ">
        <input type="text" placeholder="Address line1" required style="width: 300px; height: 30px; font-size: 17px;">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" placeholder="Address line2" required
            style="width: 300px; height: 30px; font-size: 17px;">&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" placeholder="City" required style="width: 300px; height: 30px; font-size: 17px;">
    </div>

    <br>

    <div style="margin-left: 10%;">
        <input type="text" placeholder="State" required
            style="width: 300px; height: 30px; font-size: 17px;">&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="number" placeholder="Pincode" required
            style="width: 300px; height: 30px; font-size: 17px;">&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" placeholder="Country" required style="width: 300px; height: 30px; font-size: 17px;">
    </div>
    <br>

    <p style="margin-left: 10%; font-size: 18px;">
        Are you an Indian
        <span style="color: red;">
            National?
        </span>
    </p>

    <div style="margin-left: 10%;">
        <input type="radio" name="select" required value="yes">Yes &nbsp;&nbsp;&nbsp;
        <input type="radio" name="select" required value="no">No
    </div>
    <br>
    <p style="margin-left: 10%; font-size: 18px;">Employment <span style="color: red;">Details</span></p>
    <br>

    <div style="margin-left: 10%;">
        <input type="text" placeholder="Current/Last organization" required
            style="width: 300px; height: 30px; font-size: 17px;">&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" placeholder="Designation" required
            style="width: 300px; height: 30px; font-size: 17px;">&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" placeholder="Department" required style="width: 300px; height: 30px; font-size: 17px;">
    </div>
    <br>

    <div style="margin-left: 10%;">
        <input type="text" required placeholder="Years of Experience In Current organization"
            style="width: 300px; height: 30px;font-size: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <select name="" id="" required style="width: 300px; height: 35px;">
            <option value="Total Experience">Total Experience</option>
            <option value="0-1">0-1</option>
            <option value="1-3">1-3</option>
            <option value="3-5">3-5</option>
            <option value="5-10">5-10</option>
            <option value="10-20">10-20</option>
            <option value="20">20</option>
        </select>
    </div>
    <br>

    <div style="margin-left: 10%;">
        <input type="text" placeholder="Current CTC" required
            style="width: 300px; height: 30px;font-size: 17px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" placeholder="Reason for leaving" required
            style="width: 300px; height: 30px;font-size: 17px;">
    </div>
    <br>
    <p style="margin-left: 10%; font-size: 18px;">Highest Level of <span style="color: red;">Education</span></p>
    <br>
    <div style="margin-left: 10%;">
        <input type="checkbox">&nbsp;&nbsp;&nbsp;PHD&nbsp;&nbsp;&nbsp;
        <input type="checkbox">&nbsp;&nbsp;&nbsp;Post Graduate&nbsp;&nbsp;&nbsp;
        <input type="checkbox">&nbsp;&nbsp;&nbsp;Graduate&nbsp;&nbsp;&nbsp;
        <input type="checkbox">&nbsp;&nbsp;&nbsp;Diploma&nbsp;&nbsp;&nbsp;
        <input type="checkbox">&nbsp;&nbsp;&nbsp;School&nbsp;&nbsp;&nbsp;
    </div>
    <br>
    <p style="margin-left: 10%; font-size: 18px;">Details of <span style="color: red;">Education</span></p>
    <br>

    <div style="margin-left: 10%; overflow-x: scroll;">
        <table>
            <thead>
                <tr>
                    <th>Si <br> no.</th>
                    <th>Name of School/University</th>
                    <th>Degree</th>
                    <th>Specialization</th>
                    <th>Percentage Achieved</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><input type="text" required style="width: 200px; height: 30px;"></td>
                    <td><input type="text" required style="width: 200px; height: 30px;"></td>
                    <td><input type="text" required style="width: 200px; height: 30px;"></td>
                    <td><input type="text" required style="width: 200px; height: 30px;"></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><input type="text"  style="width: 200px; height: 30px;"></td>
                    <td><input type="text"  style="width: 200px; height: 30px;"></td>
                    <td><input type="text"  style="width: 200px; height: 30px;"></td>
                    <td><input type="text"  style="width: 200px; height: 30px;"></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><input type="text"  style="width: 200px; height: 30px;"></td>
                    <td><input type="text"  style="width: 200px; height: 30px;"></td>
                    <td><input type="text"  style="width: 200px; height: 30px;"></td>
                    <td><input type="text"  style="width: 200px; height: 30px;"></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><input type="text"  style="width: 200px; height: 30px;"></td>
                    <td><input type="text"  style="width: 200px; height: 30px;"></td>
                    <td><input type="text"  style="width: 200px; height: 30px;"></td>
                    <td><input type="text"  style="width: 200px; height: 30px;"></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><input type="text"  style="width: 200px; height: 30px;"></td>
                    <td><input type="text"  style="width: 200px; height: 30px;"></td>
                    <td><input type="text"  style="width: 200px; height: 30px;"></td>
                    <td><input type="text"  style="width: 200px; height: 30px;"></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td><input type="text"  style="width: 200px; height: 30px;"></td>
                    <td><input type="text"  style="width: 200px; height: 30px;"></td>
                    <td><input type="text"  style="width: 200px; height: 30px;"></td>
                    <td><input type="text"  style="width: 200px; height: 30px;"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br><br>

    <p style="margin-left: 10%; font-size: 18px;">
        Have you worked with La-Gajjar <br>Machineries before?*
    </p>
    <div style="margin-left: 10%;">
        <input type="radio" name="select1" required value="yes">Yes &nbsp;&nbsp;&nbsp;
        <input type="radio" name="select1" required value="no">No
    </div>
    <br><br>

    <p style="margin-left: 10%; font-size: 18px;">
        Have you applied for job with <br>La-Gajjar Machineries before?*
    </p>
    <div style="margin-left: 10%;">
        <input type="radio" name="select2" required value="yes">Yes &nbsp;&nbsp;&nbsp;
        <input type="radio" name="select2" required value="no">No
    </div>
    <br><br>

    <p style="margin-left: 10%; font-size: 18px;">Upload <span style="color: red;">Resume</span></p>

    <div style="margin-left: 10%;">
            <input type="file" required style="padding: 15px; font-size: 16px;">
    </div>

    <br>

    <input type="submit" style="margin-left: 10%; background-color: red; border: 0px solid transparent; font-size: 17px; color: white; padding: 10px;">
    <br><br><br>

</form>

</body>

</html>
