<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Career</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="/css/career.css">
    <link rel="stylesheet" href="/css/utility.css">
    <script>
        $(document).ready(function () {
            $("#hamburger").click(function () {
                $("#hamburger-slide").show();
                $("#hamburger-slide").css({ "height": "150vh", "width": "100vw", "left": "0px", "background-color": "white", "position": "absolute", "top": "-70px", "z-index": "10" });
            });

            $("#cross-icon").click(function () {
                // $("#hamburger").hide();
                $("#hamburger-slide").slideUp();
                // $("#hamburger-slide").css({ "display": "none" });
                // $("#hamburger").show();
            });



        });
    </script>
</head>

<body>


    <!-- header code is on views/includes/header.ejs file -->
    <%- include('includes/header')%>
        <!-- header code is between this comments -->


        <main>

            <div style="background-color: grey; width: 100vw; height: 250px; background-size: contain; opacity: 0.8;">
                <h3 style="color: white; text-align: center;padding-top: 90px;">Career
                </h3>
                <div style="color: white; text-align: center; font-size: 20px; font-weight: 500;"><a href="/"
                        style="color: white; text-decoration: none; text-align: center;">Home</a> &nbsp; &nbsp; &nbsp; |
                    &nbsp; &nbsp; &nbsp; <a href="/career"
                        style="color: white; text-decoration: none; text-align: center;">Career</a>
                </div>
            </div>




            <div id="main1">

                <div class="main-1part">
                    <div class="main-1txt"
                        style="background-image: url(/images/HR-Philosophy-472x300.png); width: 150px; height: 250px; background-size: contain; background-repeat: no-repeat; margin-top: 70px; border-radius: 10px;">
                    </div>


                    <div class="main-1txt">
                        <h3>HR <span style="color: red;">Philosophy</span></h3>
                        <p>At Varuna Pumps, we consider our employees and our entire staff to be written under the
                            ‘Asset’
                            section of our balance sheet. Our HR philosophy revolves around taking genuine regard for
                            the
                            interests of our employees and members of the communities in which we operate. We take
                            conscious
                            efforts to ensure the environment for our workforce is healthy, diverse, talented, and
                            highly
                            dedicated to achieving company values.
                        </p>

                    </div>

                </div>

            </div>




            <div class="main-1partdiv" style="background-color: grey; margin-top: 200px; padding-top: 2px;">


                <p style="opacity: 0;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fug.</p>

                <p style="text-align: center;">We are a team of innovators and builders, dreamers and doers. We place
                    emphasis on accountability, transparency and commitment. We strive for an environment where
                    individuals
                    can succeed professionally and personally.
                </p>

                <div class="main1-3div"> <!--1st-->
                    <h4 style="margin-left: 15px;  padding: 20px; color: red;" class="main-1txt">Accountability (1)
                    </h4>

                    <!-- <div class="main1-img" style="background-image: url(About-Us-img.webp);">
                </div>
    
                <a href="about-company.html" style="color: white; text-decoration: none;"><h5 style="margin-left: 120px; margin-top: -43px;">click here</h5></a>
    
                <a href="about-company.html">
                  <div class="circle" style="color: red; height: 50px; width: 50px; border-radius: 50%;border: 2px solid red; border-left: 2px solid transparent; margin-left: 200px; margin-top: -43px;"> <i class="fa-solid fa-chevron-right" style="margin-top: 15px; color: red; margin-left: 20px;"></i>
                  </div>
                </a>
     -->
                    <p style="margin-top:-70px; padding-left: 30px; padding-right: 20px; width: 300px;"
                        class="main-1txt">
                        Accountability
                        is a fundamental core value that helps us in building our company culture and maintaining our
                        reputation in the market that is paramount in every employee or staff member at Varuna Pumps.
                    </p>
                </div>



                <div class="main1-3div"> <!--2nd-->
                    <h4 style="margin-left: 15px;  padding: 20px; color: red;" class="main-1txt">Transparency (2)
                    </h4>

                    <!-- <div class="main1-img" style="background-image: url(About-Us-img.webp);">
                </div>
    
                <a href="about-company.html" style="color: white; text-decoration: none;"><h5 style="margin-left: 120px; margin-top: -43px;">click here</h5></a>
    
                <a href="about-company.html">
                  <div class="circle" style="color: red; height: 50px; width: 50px; border-radius: 50%;border: 2px solid red; border-left: 2px solid transparent; margin-left: 200px; margin-top: -43px;"> <i class="fa-solid fa-chevron-right" style="margin-top: 15px; color: red; margin-left: 20px;"></i>
                  </div>
                </a>
     -->
                    <p style="margin-top:-70px; padding-left: 30px; padding-right: 20px; width: 300px;"
                        class="main-1txt">
                        Transparency and Honesty are some of the backbones of this company and indeed what we stand for.
                        Every decision, transaction, thought or behavior at Varuna Pumps is aligned with this virtue and
                        follows it religiously.
                    </p>

                </div>



                <div class="main1-3div"> <!--3rd-->
                    <h4 style="margin-left: 15px;  padding: 20px; color: red;" class="main-1txt">Passionately-committed
                        (3)
                    </h4>

                    <!-- <div class="main1-img" style="background-image: url(About-Us-img.webp);">
                </div>
    
                <a href="about-company.html" style="color: white; text-decoration: none;"><h5 style="margin-left: 120px; margin-top: -43px;">click here</h5></a>
    
                <a href="about-company.html">
                  <div class="circle" style="color: red; height: 50px; width: 50px; border-radius: 50%;border: 2px solid red; border-left: 2px solid transparent; margin-left: 200px; margin-top: -43px;"> <i class="fa-solid fa-chevron-right" style="margin-top: 15px; color: red; margin-left: 20px;"></i>
                  </div>
                </a>
     -->
                    <p style="margin-top:-70px; padding-left: 30px; padding-right: 20px; width: 300px;"
                        class="main-1txt">
                        Varuna Pumps truly stands out when it comes to having a team of talented and passionate
                        individuals,
                        who are willing to go the extra mile to ensure customer satisfaction and top-quality service.
                    </p>

                </div>

            </div>






            <div class="main-1partdiv"
                style="background-color: rgba(211, 211, 211, 0.454); margin-top: 200px; padding-top: 2px;">

                <p style="opacity: 0;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fug.</p>

                <p style="text-align: center;">We have a performance-oriented environment that practices a policy of
                    open
                    communication and cooperative relationships. We offer our employees a space to grow towards their
                    dreams
                    and aspirations.
                </p>

                <div class="main1-3div" style="background-color: grey;"> <!--1st-->
                    <h4 style="margin-left: 80px;  padding: 20px; color: white;" class="main-1txt"><img
                            src="/images/work-culture-laptop-64x64.png" alt="" style="margin-left: 20px;">
                        Flexibility
                    </h4>

                    <!-- <div class="main1-img" style="background-image: url(About-Us-img.webp);">
                </div>
    
                <a href="about-company.html" style="color: white; text-decoration: none;"><h5 style="margin-left: 120px; margin-top: -43px;">click here</h5></a>
    
                <a href="about-company.html">
                  <div class="circle" style="color: red; height: 50px; width: 50px; border-radius: 50%;border: 2px solid red; border-left: 2px solid transparent; margin-left: 200px; margin-top: -43px;"> <i class="fa-solid fa-chevron-right" style="margin-top: 15px; color: red; margin-left: 20px;"></i>
                  </div>
                </a>
     -->
                    <p style="margin-top:-70px; padding-left: 30px; padding-right: 20px; width: 300px;"
                        class="main-1txt">
                        The freedom and the choices that we give when it comes to schedules, timings, or uniforms at
                        Varuna
                        Pumps, reflect in a blended approach of flexibility as well as result-oriented work.
                    </p>
                </div>



                <div class="main1-3div" style="background-color: grey;"> <!--2nd-->
                    <h4 style="margin-left: 80px;  padding: 20px; color: white;" class="main-1txt"><img
                            src="/images/work-culture-book-64x64.png" alt="" style="margin-left: 20px;">
                        Learning
                    </h4>

                    <!-- <div class="main1-img" style="background-image: url(About-Us-img.webp);">
                </div>
    
                <a href="about-company.html" style="color: white; text-decoration: none;"><h5 style="margin-left: 120px; margin-top: -43px;">click here</h5></a>
    
                <a href="about-company.html">
                  <div class="circle" style="color: red; height: 50px; width: 50px; border-radius: 50%;border: 2px solid red; border-left: 2px solid transparent; margin-left: 200px; margin-top: -43px;"> <i class="fa-solid fa-chevron-right" style="margin-top: 15px; color: red; margin-left: 20px;"></i>
                  </div>
                </a>
     -->
                    <p style="margin-top:-70px; padding-left: 30px; padding-right: 20px; width: 300px;"
                        class="main-1txt">At
                        Varuna Pumps, staying updated with the recent developments and your journey to learn something
                        new
                        every day shall never die
                    </p>

                </div>



                <div class="main1-3div" style="background-color: grey;"> <!--3rd-->
                    <h4 style="margin-left: 70px;  padding: 20px; color: white;" class="main-1txt"><img
                            src="/images/work-culture-atom-64x64.png" alt="" style="margin-left: 30px;"><br>
                        Development
                    </h4>

                    <!-- <div class="main1-img" style="background-image: url(About-Us-img.webp);">
                </div>
    
                <a href="about-company.html" style="color: white; text-decoration: none;"><h5 style="margin-left: 120px; margin-top: -43px;">click here</h5></a>
    
                <a href="about-company.html">
                  <div class="circle" style="color: red; height: 50px; width: 50px; border-radius: 50%;border: 2px solid red; border-left: 2px solid transparent; margin-left: 200px; margin-top: -43px;"> <i class="fa-solid fa-chevron-right" style="margin-top: 15px; color: red; margin-left: 20px;"></i>
                  </div>
                </a>
     -->
                    <p style="margin-top:-70px; padding-left: 30px; padding-right: 20px; width: 300px;"
                        class="main-1txt">
                        The expansion of your knowledge and competencies that will occur at Varuna Pumps, is indeed a
                        gamechanger to the kind of person you would mold into with time.
                    </p>

                </div>


            </div>



            <div class="last-part">

                <h3 style="padding-top: 100px; padding-left: 30px;">Car<span style="color: red;">eers</span></h3><br>
                <p style=" padding-left: 30px; max-width: 800px; padding-right: 20px; color: white;">
                    Having faith in the limitless potential of innovation and operating with integrity is our strongest
                    belief and we intend to create an army of the same. If you have got the zeal and attitude to work
                    passionately as well as systematically, then we’ve got an opening for you, click here to know more.
                </p> <br>

                <a href="jobOpenings" style="text-decoration: none; color: white;">
                    <h5 style="padding-left: 30px; margin-top: 50px;">Apply Now</h5>

                    <div
                        style="height: 50px; width: 50px; border-radius: 50%; border: 2px solid red; margin-left: 130px; margin-top: -42px; border-left: 2px solid transparent;">
                        <i class="fa-solid fa-chevron-right" style="margin-top: 15px; margin-left: 18px;"></i>
                    </div>

                </a>

            </div>


        </main>


       <!-- footer code starts from here / footer code is on views/includes/footer.ejs -->

    <%- include('includes/footer')%>

    <!-- footer code ends here -->






        <div id="back-top">
            <a href="#"><i class="fa-solid fa-chevron-up" style="font-size: 15px; color: white;"></i></a>
        </div>


</body>

</html>