<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company-policy</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    

    <link rel="stylesheet" href="/css/companyPolicy.css">
    <link rel="stylesheet" href="/css/utility.css">

<script>
  $(document).ready(function () {
    $("#hamburger").click(function () {
              $("#hamburger-slide").show();
              $("#hamburger-slide").css({ "height": "150vh", "width": "100vw", "left": "0px", "background-color": "white", "position": "absolute", "top": "-70px", "z-index": "10" });
          });

          $("#cross-icon").click(function(){
              // $("#hamburger").hide();
              $("#hamburger-slide").slideUp();
              // $("#hamburger-slide").css({ "display": "none" });
              // $("#hamburger").show();
          });
         

          
  });
</script>

</head>

<body>


     <!-- header code is on views/includes/header.ejs file -->
  <%- include('includes/header')%>
  <!-- header code is between this comments -->


    <main>

        <div style="background-color: grey; width: 100vw; height: 250px; background-size: contain; opacity: 0.8;">
            <h3 style="color: white; text-align: center;padding-top: 90px;">Company Policy
            </h3>
            <div style="color: white; text-align: center; font-size: 20px; font-weight: 500;"><a href="/"
                    style="color: white; text-decoration: none; text-align: center;">Home</a> | <a
                    href="/aboutVaruna" style="color: white; text-decoration: none; text-align: center;">About
                    Varuna</a> | <a href="/companyPolicy"
                    style="color: white; text-decoration: none; text-align: center;">Company Policies</a></div>
        </div>



        <div id="main1">


            <div class="main-1part">
                <div class="main-1txt" style="margin-top: 50px; padding-left: 150px; visibility: hidden;">
                    <a href="/documents/term&condi-1.pdf"><i class="fa-solid fa-file-pdf"
                            style=" color: red; font-size: 70px;"></i></a>
                </div>

                <a href="/documents/term&condi-1.pdf" style="margin-left: -260px;"><i class="fa-solid fa-file-pdf"
                        style=" color: red; font-size: 70px;"></i></a>


                <div class="main-1txt"> <!--1st-->
                    <h4>Terms and Conditions</h4>
                    <h4>of appointment of <span style="color: red;">Independent Directors</span></h4>
                    <p>Terms and conditions of appointment of Independent Directors The broad terms and conditions with
                        regards to the appointment, termination, duties, remuneration, time commitment, and other
                        crucial aspects of Independent Directors at Varuna Pumps are explained here in detail.
                    </p>
                </div>

            </div>


        </div>



        <div class="main-1part" style="margin-top: -250px;">
            <div class="main-1txt" style="margin-top: 50px; padding-left: 150px; visibility: hidden;">
                <a href="term&condi-1.pdf"><i class="fa-solid fa-file-pdf"
                        style=" color: red; font-size: 70px;"></i></a>
            </div>

            <a href="/documents/Whistle-Blower-Policy.pdf" style="margin-left: -260px;"><i class="fa-solid fa-file-pdf"
                    style=" color: red; font-size: 70px;"></i></a>


            <div class="main-1txt"> <!--2nd-->
                <h4>Whistle Blower <span style="color: red;">Policy</span></h4>
                <p>Varuna Pumps lays down the principles and standards that shall be carried out in order to maintain
                    the vigil mechanism of our Whistleblower Policy and they’re all enlisted here.
                </p>
            </div>

        </div>




        <div class="main-1part" style="margin-top: -410px;">
            <div class="main-1txt" style="margin-top: 50px; padding-left: 150px; visibility: hidden;">
                <a href="term&condi-1.pdf"><i class="fa-solid fa-file-pdf"
                        style=" color: red; font-size: 70px;"></i></a>
            </div>

            <a href="/documents/csr-POLICY.pdf" style="margin-left: -260px;"><i class="fa-solid fa-file-pdf"
                    style=" color: red; font-size: 70px;"></i></a>


            <div class="main-1txt"> <!--3rd-->
                <h4>CSR <span style="color: red;">Policy</span></h4>
                <p>As a responsible corporate entity, Varuna Pump pledges to stay aligned with its objectives, annual
                    action plan of the total CSR activities to be conducted, and other formulation, as well as
                    implementation details, are explained here.
                </p>
            </div>

        </div>



        <div class="main-1part" style="margin-top: -410px;">
            <div class="main-1txt" style="margin-top: 50px; padding-left: 150px; visibility: hidden;">
                <a href="term&condi-1.pdf"><i class="fa-solid fa-file-pdf"
                        style=" color: red; font-size: 70px;"></i></a>
            </div>

            <a href="/documents/EHS-Policy-New.pdf" style="margin-left: -260px;"><i class="fa-solid fa-file-pdf"
                    style=" color: red; font-size: 70px;"></i></a>


            <div class="main-1txt"> <!--4th-->
                <h4>EHS <span style="color: red;">Policy</span></h4>
                <p>At Varuna Pumps, we are committed to complying with all the mandatory and required legislation with
                    regards to environmental, occupational health safety
                </p>
            </div>

        </div>




        <div class="main-1part" style="margin-top: -410px;">
            <div class="main-1txt" style="margin-top: 50px; padding-left: 150px; visibility: hidden;">
                <a href="term&condi-1.pdf"><i class="fa-solid fa-file-pdf"
                        style=" color: red; font-size: 70px;"></i></a>
            </div>

            <a href="/documents/Energy-Policy.pdf" style="margin-left: -260px;"><i class="fa-solid fa-file-pdf"
                    style=" color: red; font-size: 70px;"></i></a>


            <div class="main-1txt"> <!--5th-->
                <h4>Energy <span style="color: red;">Policy</span></h4>
                <p>Our dedication and commitment towards the nation’s mission for enhanced energy efficiency as well as
                    benchmarking all our products to the highest energy standards and our ways to achieve them are
                    enlisted here.
                </p>
            </div>

        </div>




        <div class="main-1part" style="margin-top: -410px;">
            <div class="main-1txt" style="margin-top: 50px; padding-left: 150px; visibility: hidden;">
                <a href="term&condi-1.pdf"><i class="fa-solid fa-file-pdf"
                        style=" color: red; font-size: 70px;"></i></a>
            </div>

            <a href="/documents/Nomination-.pdf" style="margin-left: -260px;"><i class="fa-solid fa-file-pdf"
                    style=" color: red; font-size: 70px;"></i></a>


            <div class="main-1txt"> <!--6th-->
                <h4>Nomination &</h4>
                <h4 style="color: red;">Remuneration Policy</h4>
                <p>Our dedication and commitment towards the nation’s mission for enhanced energy efficiency as well as
                    benchmarking all our products to the highest energy standards and our ways to achieve them are
                    enlisted here.
                </p>
            </div>

        </div>




        <div class="main-1part" style="margin-top: -380px;">
            <div class="main-1txt" style="margin-top: 50px; padding-left: 150px; visibility: hidden;">
                <a href="term&condi-1.pdf"><i class="fa-solid fa-file-pdf"
                        style=" color: red; font-size: 70px;"></i></a>
            </div>

            <a href="/documents/Bio-medical-Waste.pdf" style="margin-left: -260px;"><i class="fa-solid fa-file-pdf"
                    style=" color: red; font-size: 70px;"></i></a>


            <div class="main-1txt"> <!--7th-->
                <h4>Bio-medical Waste</h4>
                <h4 style="color: red;">Annual Policy</h4>
                <p>At Varuna Pumps, we propagate transparency, and with this policy of rolling out Biomedical waste
                    reports annually, we are doing our bit to introspect and acknowledge our contribution.
                </p>
            </div>

        </div>




        <div class="main-1part" style="margin-top: -380px;">
            <div class="main-1txt" style="margin-top: 50px; padding-left: 150px; visibility: hidden;">
                <a href="term&condi-1.pdf"><i class="fa-solid fa-file-pdf"
                        style=" color: red; font-size: 70px;"></i></a>
            </div>

            <a href="/documents/itpolicy.pdf" style="margin-left: -260px;"><i class="fa-solid fa-file-pdf"
                    style=" color: red; font-size: 70px;"></i></a>


            <div class="main-1txt"> <!--8th-->
                <h4>IT <span style="color: red;">Policy</span></h4>
                <!-- <h4 style="color: red;">Annual Policy</h4> -->
                <p>The technicalities, rules, regulations, do’s and don’ts of our IT systems at Varuna Pumps is taken
                    with utmost sincerity and the details of it are enlisted here.
                </p>
            </div>

        </div>



        <div class="main-1part" style="margin-top: -420px;">
            <div class="main-1txt" style="margin-top: 50px; padding-left: 150px; visibility: hidden;">
                <a href="term&condi-1.pdf"><i class="fa-solid fa-file-pdf"
                        style=" color: red; font-size: 70px;"></i></a>
            </div>

            <a href="/documents/Composition-of-CSR-Policy-1.pdf" style="margin-left: -260px;"><i class="fa-solid fa-file-pdf"
                    style=" color: red; font-size: 70px;"></i></a>


            <div class="main-1txt"> <!--9th-->
                <h4>Composition Of <span style="color: red;">CSR Policy</span></h4>
                <!-- <h4 style="color: red;">Annual Policy</h4> -->
                <p>At Varuna Pumps, the entire composition of the members in the CSR Committee and their overall powers
                    at that level is written down here in a brief manner.
                </p>
            </div>

        </div>



        <div class="main-1part" style="margin-top: -400px;">
            <div class="main-1txt" style="margin-top: 50px; padding-left: 150px; visibility: hidden;">
                <a href="term&condi-1.pdf"><i class="fa-solid fa-file-pdf"
                        style=" color: red; font-size: 70px;"></i></a>
            </div>

            <a href="/documents/csrprojects.pdf" style="margin-left: -260px;"><i class="fa-solid fa-file-pdf"
                    style=" color: red; font-size: 70px;"></i></a>


            <div class="main-1txt"> <!--10th-->
                <h4>CSR Projects Approved <span style="color: red;">by the Board-FY 2020-2021</span></h4>
                <!-- <h4 style="color: red;">Annual Policy</h4> -->
                <p>Varuna Electricals is a socially responsible organization that focuses on achieving sustainable
                    growth. The organization gives importance to morals
                </p>
            </div>

        </div>




        <div class="main-1part" style="margin-top: -400px;">
            <div class="main-1txt" style="margin-top: 50px; padding-left: 150px; visibility: hidden;">
                <a href="term&condi-1.pdf"><i class="fa-solid fa-file-pdf"
                        style=" color: red; font-size: 70px;"></i></a>
            </div>

            <a href="/documents/privacypolicy.pdf" style="margin-left: -260px;"><i class="fa-solid fa-file-pdf"
                    style=" color: red; font-size: 70px;"></i></a>


            <div class="main-1txt"> <!--11th-->
                <h4>Privacy <span style="color: red;">Policy</span></h4>
                <!-- <h4 style="color: red;">Annual Policy</h4> -->
                <p>We at Varuna, are devoted to preserving the privacy and security of your personal data. We process
                    the personal data collected during visits to our websites only in accordance to the legal provisions
                    of India.
                </p>
            </div>

        </div>



        <div class="main-1part" style="margin-top: -400px;">
            <div class="main-1txt" style="margin-top: 50px; padding-left: 150px; visibility: hidden;">
                <a href="term&condi-1.pdf"><i class="fa-solid fa-file-pdf"
                        style=" color: red; font-size: 70px;"></i></a>
            </div>

            <a href="/documents/privacypolicy (1).pdf" style="margin-left: -260px;"><i class="fa-solid fa-file-pdf"
                    style=" color: red; font-size: 70px;"></i></a>


            <div class="main-1txt"> <!--12th-->
                <h4>CSR Annual Action <span style="color: red;">Plan for FY 2021-22</span></h4>
                <!-- <h4 style="color: red;">Annual Policy</h4> -->
                <p>Varuna is focused on making a positive impact on society. We have a detailed annual action plan to
                    help us in enriching the life of all our stakeholders and the society at large.
                </p>
            </div>

        </div>




        <div class="main-1part" style="margin-top: -400px;">
            <div class="main-1txt" style="margin-top: 50px; padding-left: 150px; visibility: hidden;">
                <a href="term&condi-1.pdf"><i class="fa-solid fa-file-pdf"
                        style=" color: red; font-size: 70px;"></i></a>
            </div>

            <a href="/documents/Annual-Return_FY-2020-21.pdf" style="margin-left: -260px;"><i class="fa-solid fa-file-pdf"
                    style=" color: red; font-size: 70px;"></i></a>


            <div class="main-1txt"> <!--13th-->
                <h4>LGM Annual <span style="color: red;">LGM Annual Return 2020-21</span></h4>
                <!-- <h4 style="color: red;">Annual Policy</h4> -->
                <p>At Varuna, we are committed to maintaining an ethical and fair business environment by maintaining
                    transparency and openness at all operational levels. We ensure to provide up-to-date information
                    about our investments, management and company ownership.
                </p>
            </div>

        </div>




        <div class="main-1part" style="margin-top: -340px;">
            <div class="main-1txt" style="margin-top: 50px; padding-left: 150px; visibility: hidden;">
                <a href="term&condi-1.pdf"><i class="fa-solid fa-file-pdf"
                        style=" color: red; font-size: 70px;"></i></a>
            </div>

            <a href="/documents/Annual-Return_FY-2021-22-2.pdf" style="margin-left: -260px;"><i class="fa-solid fa-file-pdf"
                    style=" color: red; font-size: 70px;"></i></a>


            <div class="main-1txt"> <!--14th-->
                <h4>LGM Annual <span style="color: red;">LGM Annual Return 2021-22</span></h4>
                <!-- <h4 style="color: red;">Annual Policy</h4> -->
                <p>At Varuna, we are committed to maintaining an ethical and fair business environment by maintaining
                    transparency and openness at all operational levels. We ensure to provide up-to-date information
                    about our investments, management and company ownership.
                </p>
            </div>

        </div>



    </main>




    <!-- footer code starts from here / footer code is on views/includes/footer.ejs -->

    <%- include('includes/footer')%>

    <!-- footer code ends here -->


    <div id="back-top">
        <a href="#"><i class="fa-solid fa-chevron-up" style="font-size: 15px; color: white;"></i></a>
    </div>




</body>

</html>