<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta http-equiv="refresh"  content="10"> this meta is for refrshing page  -->
  <title>Varuna Pumps</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />



  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/utility.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    $(document).ready(function () {

      $("#visit").click(function () {
        $("#warning").hide();
      });


      $("#hamburger").click(function () {
        $("#hamburger-slide").show();
        $("#hamburger-slide").css({
          "height": "150vh", "width": "100vw", "left": "0px", "background-color": "white",
          "position": "absolute", "top": "-70px", "z-index": "10"
        });
      });

      $("#cross-icon").click(function () {
        // $("#hamburger").hide();
        $("#hamburger-slide").slideUp();
        // $("#hamburger-slide").css({ "display": "none" });
        // $("#hamburger").show();
      });

    });
  </script>

</head>

<body id="body">

  <!-- header code is on views/includes/header.ejs file -->
  <%- include('includes/header')%>
    <!-- header code is between this comments -->





    <!-- main starts from here -->



    <main id="body-main">

      <div id="image-container">
        <img id="image" src="images/body-img1.png" style="width: 100vw; max-height: 600px; margin-top: -0px;">
        <img id="image" src="images/body-img2.png" style="display: none; width: 100vw; margin-top: -70px;">
        <img id="image" src="images/body-img3.png" style="display: none; width: 100vw; margin-top: -70px;">
        <img id="image" src="images/body-img4.png" style="display: none; width: 100vw; margin-top: -70px;">
      </div>
      <br>
      <form class="radioss">
        <input type="radio" id="radio1" name="myRadio" value="option1" checked>
        <!-- <label for="radio1">Option 1</label> -->
        <br>
        <input type="radio" id="radio2" name="myRadio" value="option2">
        <!-- <label for="radio2">Option 2</label> -->
        <br>
        <input type="radio" id="radio3" name="myRadio" value="option3">
        <!-- <label for="radio3">Option 3</label> -->
        <br>
        <input type="radio" id="radio4" name="myRadio" value="option4">
        <!-- <label for="radio4">Option 4</label> -->
      </form>

      <script>
        const radios = document.getElementsByName("myRadio");
        const imageContainer = document.getElementById("image-container");
        const image = document.getElementById("image");

        // Set the initial image to none
        image.src = "images/body-img1.png";

        // Add event listeners to each radio button
        radios.forEach((radio) => {
          radio.addEventListener("click", () => {
            // Show the corresponding image when a radio button is clicked
            switch (radio.value) {
              case "option1":
                image.src = "images/body-img1.png";
                break;
              case "option2":
                image.src = "images/body-img2.png";
                break;
              case "option3":
                image.src = "images/body-img3.png";
                break;
              case "option4":
                image.src = "images/body-img4.png";
                break;
            }
          });
        });

        // Change the image every 5 seconds
        let currentImage = 0;
        const images = ["images/body-img1.png", "images/body-img2.png", "images/body-img3.png", "images/body-img4.png"];
        setInterval(() => {
          currentImage = (currentImage + 1) % images.length;
          image.src = images[currentImage];
          radios[currentImage].checked = true;
        }, 2000);
      </script>


      <span>
        <i class="fa-solid fa-moon" id="dark-icon" style="margin-left: 40px; margin-top: 13px;" onclick="darks()"> <span
            style="font-size: 12px; letter-spacing: 3px;">&nbsp;&nbsp;&nbsp;Click TO Switch Dark Mode</span></i>
      </span>
      <span>
        <i class="fa-solid fa-sun" id="day-icon" style="margin-left: 40px; margin-top: 13px;" onclick="dayss()"><span
            style="font-size: 12px; letter-spacing: 3px;">&nbsp;&nbsp;&nbsp;Click TO Switch Light Mode</span></i>
      </span>

      <div id="body-txt" style="margin-top: 80px;">

        <h2 id="first-txt">About <span>Varuna Electric</span></h2>

        <h2 id="nd2-txt">
          Commenced in Ahmedabad, Gujarat, by legendary industrialist Late Shri Laljibhai J. Gajjar, Varuna
          Electric is a brand that fuels the innovative spirit and the noteworthy legacy that has undeniably defined us
          for more than 80 years.
        </h2>

        <p id="rd3-txt">What started in 1935 with a unique hand blower, today, Varuna Electric has evolved into one of
          the
          most reputed and globally acclaimed brands dealing in submersible pumps and open well motors. With a pan-India
          presence of over 20 branches and 600+ distributors, export web spread across 50+ countries, and an annual
          production capacity of over half a million pumps, we are just getting started and intend to set new benchmarks
          with our pumping solutions. Having more than eight decades worth of experience in the industry, we have
          genuinely earned the trust of our clients as well as employees with our stellar products and our constant
          endeavor to uphold the highest quality standards.

        </p>

      </div>


      <div id="read-more">
        <a href="aboutCompany" style="text-decoration: none; color: black; ">Read More</a>
      </div>


      <div id="read">
        <a href="aboutCompany">
          <div id="circle"><i class="fa-solid fa-chevron-right" style="margin-top: 15px; color: red;"></i></div>
        </a>
      </div>


      <div id="body-grey">
        <p id="body1-txt" style="color: white;">Leadership and solutions that <span style="color: red;">drive
            results</span></p>

        <div id="body2-txt">

          <div class="body-item" id="body-item1">0
            <!-- <span style="font-size: 17px; font-weight: 570; color: white;">Motors and Pumps</span> -->
          </div>
          <div class="body-item" id="body-item2">0
            <!-- <span style="font-size: 17px; font-weight: 570; color: white;">Years of legacy</span> -->
          </div>
          <div class="body-item" id="body-item3">0
            <!-- <span style="font-size: 17px; font-weight: 570; color: white;">Countries</span> -->
          </div>
          <div class="body-item" id="body-item4">0
            <!-- <span style="font-size: 17px; font-weight: 570; color: white;">Produced per minute</span> -->
          </div>

        </div>
      </div>

      <script>
        let count1 = 0; // starting number for counter1
        let count2 = 0; // starting number for counter2
        let count3 = 0; // starting number for counter3
        let count4 = 0; // starting number for counter4

        const counter1Element = document.getElementById("body-item1");
        const counter2Element = document.getElementById("body-item2");
        const counter3Element = document.getElementById("body-item3");
        const counter4Element = document.getElementById("body-item4");

        setInterval(function () {
          if (count1 < 1000) {
            count1 += 5; // increment by 1-5 every 1 second
            counter1Element.textContent = count1.toLocaleString() + "+" + " " + "Motors" + "\n" + "Pumps";
          }
        }, 15); // increment every 10 milliseconds

        setInterval(function () {
          if (count2 < 85) {
            count2 += 1; // increment by 1-5 every 1 second
            counter2Element.textContent = count2.toLocaleString() + " " + "Years of legacy";
          }
        }, 35); // increment every 10 milliseconds

        setInterval(function () {
          if (count3 < 55) {
            count3 += 1; // increment by 1-5 every 1 second
            counter3Element.textContent = count3.toLocaleString() + "+" + " " + "Countries";
          }
        }, 55); // increment every 10 milliseconds

        setInterval(function () {
          if (count4 < 3) {
            count4 += 1; // increment by 1-5 every 1 second
            counter4Element.textContent = count4.toLocaleString() + " " + "Pumps" + "\n" + "Produced per minutes";
          }
        }, 800); // increment every 10 milliseconds
      </script>




      <div id="three-box">
        <a href="bod" class="three-divbox divbox">
          <div id="bod-icon"><img src="images/Board-of-director-icon.png" alt=""></div>
          <h5 id="bod-txt">Board of Directors</h5>
          <p class="three-txt">Our Board of Directors has a undeterred commitment to high standards of corporate
            governance.</p>
        </a>

        <a href="infrastructure" class="three-divbox divbox">
          <div id="infra-icon"> <img src="images/Infrastructure-icon.png" alt=""></div>
          <h5 id="infra-txt">Infrastructres</h5>
          <p class="three-txt" style="margin-left: 45px;">We have a highly-equipped, techno- spirited and developed
            infrastructure mechanism.</p>
        </a>

        <a href="companyPolicy" class="three-divbox divbox">
          <div id="policy-icon"> <img src="images/Policy-icon.png" alt=""></div>
          <h5 id="policy-txt">Policy</h5>
          <p class="three-txt" style="margin-left: 48px;">We enlist our policies in a very detailed, precise, and
            comprehensive manner.</p>
        </a>
      </div>


      <div id="body-2txt" style="overflow-x: hidden;">

        <h3 style="text-align: center; color: red; margin-top: 40px; letter-spacing: 2px;">Industries We Serve</h3>

        <p style="text-align: center; margin-top: 20px; font-size: 20px;">We at Varuna Electric cater to a wide range of
          business verticals and industries and not only <br> making a difference but leaving our impact across
          different
          sectors.
        </p>


        <div id="body-2img">
          <div class="body-to-img one"
            style="background-image: url(images/agriculture-img.webp); background-size: cover; border: 0.2px solid black;">
            <p class="body-imgtxt" style="color: black;">Agriculture</p>

            <p class="body-2para" style="color: white;">Reducing water shortage <span style="color: red;">problems in
                remote area</span></p>

            <div class="read-more">
              <a href="agriculture"
                style="text-decoration: none; color: red; margin-top: 30px; font-weight: 800; font-size: 20px;">Read
                More</a>
              <div class="read">
                <a href="agriculture">
                  <div class="circle"><i class="fa-solid fa-chevron-right" style="margin-top: 15px; color: red;"></i>
                  </div>
                </a>
              </div>
            </div>

          </div>

          <div class="body-to-img two"
            style="background-image: url(images/Commercial-img.jpg); background-size: cover;  ">
            <p class="body-imgtxt">Commercial</p>

            <p class="body-2para">Enfusing energy to the building <br>nation arround the world </p>

            <div class="read-more">

              <a href="commercial"
                style="text-decoration: none; color: white; margin-top: 30px; font-weight: 800; font-size: 20px;">Read
                More</a>
              <div class="read">
                <a href="commercial">
                  <div class="circle"><i class="fa-solid fa-chevron-right" style="margin-top: 15px; color: red;"></i>
                  </div>
                </a>
              </div>

            </div>


          </div>

          <div class="body-to-img three"
            style="background-image: url(images/domestic&residential-img.webp); background-size: cover; ">
            <p class="body-imgtxt">Domestic / <span style="color: red;">Residental</span></p>

            <p class="body-2para" style="color: red;">For the urban and rural dwellers from high-rise buildings to
              independent homes</p>

            <div class="read-more">

              <a href="domesticResidental"
                style="text-decoration: none; color: black; margin-top: 30px; font-weight: 800; font-size: 20px;">Read
                More</a>
              <div class="read">
                <a href="domesticResidental">
                  <div class="circle"><i class="fa-solid fa-chevron-right" style="margin-top: 15px; color: red;"></i>
                  </div>
                </a>
              </div>

            </div>

          </div>

          <div class="body-to-img four"
            style="background-image: url(images/Industrial-img.webp); background-size: cover; ">
            <p class="body-imgtxt" style="color: red;">Indu<span style="color: white;">strial</span></p>

            <p class="body-2para" style="color: white;">Using unstopable energy to drive the industries</p>

            <div class="read-more">

              <a href="industrial"
                style="text-decoration: none; color: white; margin-top: 30px; font-weight: 800; font-size: 20px;">Read
                More</a>
              <div class="read">
                <a href="industrial">
                  <div class="circle"><i class="fa-solid fa-chevron-right" style="margin-top: 15px; color: red;"></i>
                  </div>
                </a>
              </div>

            </div>

          </div>

          <div class="body-to-img five" style="background-image: url(images/solar-img.webp); background-size: cover; ">
            <p class="body-imgtxt">Solar</p>


            <p class="body-2para" style="color: red;"><span style="color: white;">Bringing the power of</span> sun to
              your
              service</p>

            <div class="read-more">

              <a href="solar"
                style="text-decoration: none; color: white; margin-top: 30px; font-weight: 800; font-size: 20px;">Read
                More</a>
              <div class="read">
                <a href="solar">
                  <div class="circle"><i class="fa-solid fa-chevron-right" style="margin-top: 15px; color: red;"></i>
                  </div>
                </a>
              </div>

            </div>

          </div>

        </div>

      </div>


      <!-- helped by bac -->

      <p style="color: red; text-align: center; margin-top: 50px;font-size: 25px;">Induction Motors</p>


      <div class="body-3part">

        <div class="body-3txt" id="body-3txt"><img src="images/body-3img.png" alt="" style="display: none;">Designed
          to fulfil
          the applications requiring high-performance levels and total reliability for a long time, the newly launched
          range of Varuna Electrics 3-phase induction motors are offered with Class F insulation and Temperature Rise
          <div class="read-more">
            <a href="inductionMotors"
              style="text-decoration: none; color: black; margin-top: -20px; font-weight: 500; font-size: 16px; margin-left: -30px;">Know
              More</a>
            <div class="read">
              <a href="inductionMotors">
                <div class="circle" style="margin-top: -53px;"><i class="fa-solid fa-chevron-right"
                    style="margin-top: 15px; color: red;"></i></div>
              </a>
            </div>
          </div>

        </div>

        <div class="body-3txt" style="margin-top: 60px; padding-top: 20px;"><img src="images/body-3img.png"
            id="body-3img" alt="">
        </div>
      </div>


      <!-- helped by bac  -->


      <div id="body-4part">

        <div id="body4-1txt">
          <h4 style="text-align: center; padding-top: 30px;">Our Market <span style="color: red;">Solutions</span>
          </h4>
        </div>


        <div id="body4-2txt"
          style="text-align: center; padding-top: 30px; font-family: sans-serif; font-size: 18px; padding-left: 40px; padding-right: 40px;">
          We at Varuna Electric are dedicated to delivering revolutionary water pumping solutions. With <br>
          the help of modern technology, reliable resources and innovative solutions, we have introduced a wide range of
          <br>water pumps and motors.
        </div>



        <div id="body4-3txt"> <!--1st--->

          <div class="body4-div4">
            <div class="body4-imgtxt"><img src="images/agriculture-img.webp" alt=""
                style="height: 150px; width: 150px; margin-top: -30px; margin-left: 30px;"></div>
            <div class="body4-imgtxt"><img src="images/Self-Priming-img.png" alt=""
                style="height: 150px; width: 150px; margin-top: -30px; display: none;">
              <p style="margin-right: 30px; font-size: 20px; padding-left: 10px; padding-bottom : 100px;">Submersible
                Pumps
              </p>
            </div>
            <p style="padding-left: 30px; margin-top: -100px; " class="body4-txtp">Submersible Pumps are sturdy and
              robust, made with the aim to reduce water shortage problems in remote areas.
            </p>


            <div class="read-more">

              <a href="borewellSubmersible"
                style="text-decoration: none; color: black; margin-top: -70px; font-weight: 100; font-size: 16px;">Read
                More</a>
              <div class="read">
                <a href="borewellSubmersible">
                  <div class="circle"
                    style="margin-top: -105px; border: 2px solid black; border-left: 2px solid transparent;"><i
                      class="fa-solid fa-chevron-right" style="margin-top: 15px; color: black;"></i></div>
                </a>
              </div>

            </div>

          </div>


          <div class="body4-div4"> <!--2nd--->
            <div class="body4-imgtxt"><img src="images/domestic&residential-img.webp" alt=""
                style="height: 150px; width: 150px; margin-top: -30px; margin-left: 30px;"></div>
            <div class="body4-imgtxt"><img src="images/Self-Priming-img.png" alt=""
                style="height: 150px; width: 150px; margin-top: -30px; display: none;">
              <p style="margin-right: 30px; font-size: 20px; padding-left: 10px; padding-bottom : 100px;">Monoblock
                Pumps
              </p>
            </div>

            <p style="padding-left: 30px; margin-top: -100px; " class="body4-txtp">Monoblock Pumps introduced by Varuna
              Electric come with easy installation features, greater efficiency and low maintenance cost
            </p>

            <div class="read-more">

              <a href="centrifugalMonoblock"
                style="text-decoration: none; color: black; margin-top: -70px; font-weight: 100; font-size: 16px;">Read
                More</a>
              <div class="read">
                <a href="centrifugalMonoblock">
                  <div class="circle"
                    style="margin-top: -105px; border: 2px solid black; border-left: 2px solid transparent;"><i
                      class="fa-solid fa-chevron-right" style="margin-top: 15px; color: black;"></i></div>
                </a>
              </div>

            </div>

          </div>


          <div class="body4-div4"> <!--3rd--->
            <div class="body4-imgtxt"><img src="images/Self-Priming-img.png" alt=""
                style="height: 150px; width: 150px; margin-top: -30px; margin-left: 30px;"></div>
            <div class="body4-imgtxt"><img src="images/Self-Priming-img.png" alt=""
                style="height: 150px; width: 150px; margin-top: -30px; display: none;">
              <p style="margin-right: 30px; font-size: 20px; padding-left: 10px; padding-bottom : 100px;">Self-Priming
                Pumps
              </p>
            </div>
            <p style="padding-left: 30px; margin-top: -100px; " class="body4-txtp">Varuna Electric is dedicated to
              develop
              modern technology equipped self-priming pumps.
            </p>

            <div class="read-more">

              <a href="centrifugalRegenerative"
                style="text-decoration: none; color: black; margin-top: -70px; font-weight: 100; font-size: 16px;">Read
                More</a>
              <div class="read">
                <a href="centrifugalRegenerative">
                  <div class="circle"
                    style="margin-top: -105px; border: 2px solid black; border-left: 2px solid transparent;"><i
                      class="fa-solid fa-chevron-right" style="margin-top: 15px; color: black;"></i></div>
                </a>
              </div>

            </div>

          </div>


          <div class="body4-div4"> <!--4th--->
            <div class="body4-imgtxt"><img src="images/Solar-Arrow-img.png" alt=""
                style="height: 150px; width: 150px; margin-top: -30px; margin-left: 30px;"></div>
            <div class="body4-imgtxt"><img src="images/Self-Priming-img.png" alt=""
                style="height: 150px; width: 150px; margin-top: -30px; display: none;">
              <p style="margin-right: 30px; font-size:20px; padding-left: 10px; padding-bottom : 100px;">Solar Pumps
              </p>
            </div>
            <p style="padding-left: 30px; margin-top: -100px; " class="body4-txtp">Solar Pumps work from solar panels
              without need of electricity or batteries as they are driven by electronically commuted motors.
            </p>

            <div class="read-more">

              <a href="solarPumpingSystem"
                style="text-decoration: none; color: black; margin-top: -70px; font-weight: 100; font-size: 16px;">Read
                More</a>
              <div class="read">
                <a href="solarPumpingSystem">
                  <div class="circle"
                    style="margin-top: -105px; border: 2px solid black; border-left: 2px solid transparent;"><i
                      class="fa-solid fa-chevron-right" style="margin-top: 15px; color: black;"></i></div>
                </a>
              </div>

            </div>

          </div>

        </div>

      </div>


      <div id="body5-part" style="overflow-x: hidden;">

        <h3 style="color: red; text-align: center; padding-top: 30px;">CSR <span style="color: black;">Activities</span>
        </h3>

        <div class="body5-2div">

          <div class="body5-2txt" style="border-bottom: 2px solid red;">
            <!--1st-->
            <div class="body5-img">
              <div class="body5-imgtxt img5-body5">
                <img src="images/foundation-img.webp" class="img5-body5" alt=""
                  style="height: 200px; width: 300px; padding-top: 20px; padding: 20px; transform: translateX(-200%); scale: 4; transform: rotateX('-250deg');">
              </div>
              <div class="body5-imgtxt">
                <h4 style="padding-left: 25px;">Tree plantation activity
                </h4>
                <h5 style="padding-left: 25px; color: red;">Aug 20, 2021
                </h5>

                <div class="read-more">

                  <a href="csr"
                    style="text-decoration: none; color: black; margin-top: 30px; font-weight: 100; font-size: 16px;">Read
                    More</a>
                  <div class="read">
                    <a href="csr">
                      <div class="circle"
                        style="margin-top: -5px; border: 2px solid red; border-left: 2px solid transparent;"><i
                          class="fa-solid fa-chevron-right" style="margin-top: 15px; color: red;"></i></div>
                    </a>
                  </div>

                </div>

              </div>

            </div>

          </div>

          <div class="body5-2txt" style="border-bottom: 2px solid red;">
            <!--2nd-->
            <div class="body5-img">
              <div class="body5-imgtxt img5-body5">
                <img src="images/nanhi_kalis-img.jpg" class="img5-body5" alt=""
                  style="height: 200px; width: 300px; padding-top: 20px; padding: 20px; transform: translateX(-200%); scale: 4; transform: rotateX('-200deg');">
              </div>
              <div class="body5-imgtxt">
                <h4 style="padding-left: 25px;">Nanhi Kali
                </h4>
                <h5 style="padding-left: 25px; color: red;">Aug 20, 2021
                </h5>

                <p style="padding-left: 25px; font-size: 14px;">
                  For some the birth of a baby girl is marked as the arrival of Goddess Laxmi to the family whereas in
                  some cases, the arrival of a baby girl calls for mourning rather than celebration.
                </p>


              </div>



            </div>

          </div>

        </div>



        <div id="body5-part">

          <h3 style="color: black; text-align: center; padding-top: 30px;">News & <span
              style="color: red;">Activities</span></h3>

          <div class="body5-2div">

            <div class="body5-2txt" style="border-bottom: 2px solid red;">
              <!--1st-->
              <div class="body5-img">
                <div class="body5-imgtxt img5-body5">
                  <img src="images/world environemt-img.webp" class="img5-body5" alt=""
                    style="height: 200px; width: 300px; padding-top: 20px; padding: 20px; transform: translateX(-200%); scale: 4; transform: rotateX('-200deg');">
                </div>
                <div class="body5-imgtxt">
                  <h4 style="padding-left: 25px;">World Environment Day
                  </h4>
                  <h5 style="padding-left: 25px; color: red;"><span style="opacity: 0.5; color: grey;">Events |</span>
                    Feb
                    14, 2022
                  </h5>

                  <div class="read-more">

                    <a href="worldEnvironment"
                      style="text-decoration: none; color: black; margin-top: 30px; font-weight: 100; font-size: 16px;">Read
                      More</a>
                    <div class="read">
                      <a href="worldEnvironment">
                        <div class="circle"
                          style="margin-top: -5px; border: 2px solid red; border-left: 2px solid transparent;"><i
                            class="fa-solid fa-chevron-right" style="margin-top: 15px; color: red;"></i></div>
                      </a>
                    </div>

                  </div>

                </div>

              </div>

            </div>

            <div class="body5-2txt" style="border-bottom: 2px solid red;">
              <!--2nd-->
              <div class="body5-img">
                <div class="body5-imgtxt img5-body5">
                  <img src="images/launch optiqua-img.png" class="img5-body5" alt=""
                    style="height: 200px; width: 300px; padding-top: 20px; padding: 20px; transform: translateX(-200%); scale: 4; transform: rotateX('-200deg');">
                </div>
                <div class="body5-imgtxt">
                  <h4 style="padding-left: 25px;">Launched Optiqua
                  </h4>
                  <h5 style="padding-left: 25px; color: red;"><span style="color: grey; opacity: 0.5;">Events |</span>
                    Dec
                    9, 2021
                  </h5>

                  <div class="read-more">

                    <a href="launchOptiqua"
                      style="text-decoration: none; color: black; margin-top: 30px; font-weight: 100; font-size: 16px;">Read
                      More</a>
                    <div class="read">
                      <a href="launchOptiqua">
                        <div class="circle"
                          style="margin-top: -5px; border: 2px solid red; border-left: 2px solid transparent;"><i
                            class="fa-solid fa-chevron-right" style="margin-top: 15px; color: red;"></i></div>
                      </a>
                    </div>

                  </div>




                </div>



              </div>

            </div>

          </div>


          <h3 style="color: red; text-align: center; padding-top: 60px;">Follow Us On Instagram</h3>
        </div>

    </main>


    <!-- footer code starts from here / footer code is on views/includes/footer.ejs -->
    <%- include('includes/footer')%>
      <!-- footer code ends here -->

      <div id="back-top">
        <a href="#"><i class="fa-solid fa-chevron-up" style="font-size: 15px; color: white;"></i></a>
      </div>


      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="/js/script.js"></script>
</body>

</html>