<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <link rel="stylesheet" href="/css/media.css">
    <link rel="stylesheet" href="/css/utility.css">
  
  <script>
  $(document).ready(function () {
    $("#hamburger").click(function () {
              $("#hamburger-slide").show();
              $("#hamburger-slide").css({ "height": "150vh", "width": "100vw", "left": "0px", "background-color": "white", "position": "absolute", "top": "-70px", "z-index": "10" });
          });

          $("#cross-icon").click(function(){
              // $("#hamburger").hide();
              $("#hamburger-slide").slideUp();
              // $("#hamburger-slide").css({ "display": "none" });
              // $("#hamburger").show();
          });
         

          
  });
</script>
</head>

<body>


     <!-- header code is on views/includes/header.ejs file -->
     <%- include('includes/header')%>
     <!-- header code is between this comments -->


    <img src="https://images.unsplash.com/photo-1502759683299-cdcd6974244f?h=220&w=440&auto=format&fit=crop&q=60" alt=""
        style="width: 100vw; height: 220px; opacity: 1;">
    <h4 style="margin-top: -200px; font-weight: 800px; opacity: 9; text-align: center;  padding-top: 40px;">
        About</h4>
    <h5 style="text-align: center;"><a href="/"
            style="color: white; text-decoration: none;">Home</a>&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;<a
            href="/media" style="color: white; text-decoration: none;">Media
        </a></h5>


    <main>

        <div class="main-1partdiv">
            <div class="main1-3div">
                <h4 style="margin-left: 25px;  padding: 20px;" class="main-1txt">Events
                </h4>

                <div class="main1-img"
                    style="background-image: url(https://www.varunaelectric.com/wp-content/uploads/Events-media-landing-dummy.png.webp);">
                </div>

                <a href="Events.html" style="color: white; text-decoration: none;">
                    <h5 style="margin-left: 120px; margin-top: -43px;">click here</h5>
                </a>

                <a href="Events.html">
                    <div class="circle"
                        style="color: red; height: 50px; width: 50px; border-radius: 50%;border: 2px solid red; border-left: 2px solid transparent; margin-left: 200px; margin-top: -43px;">
                        <i class="fa-solid fa-chevron-right"
                            style="margin-top: 15px; color: red; margin-left: 20px;"></i>
                    </div>
                </a>

                <p style="padding-top: 30px; padding-left: 25px; padding-right: 10px;" class="main-1txt">Over the past 8
                    decades, Varuna has taken part in several global events. Take a look at our event archive here.
                </p>
            </div>

            <div class="main1-3div">
                <h4 style="margin-left: 25px; padding: 20px;">News
                </h4>

                <div class="main1-img"
                    style="background-image: url(https://www.varunaelectric.com/wp-content/uploads/News-media-landing-dummy.png.webp);">
                </div>

                <a href="News.html" style="color: white; text-decoration: none;">
                    <h5 style="margin-left: 120px; margin-top: -43px;">click here</h5>
                </a>

                <a href="News.html">
                    <div class="circle"
                        style="color: red; height: 50px; width: 50px; border-radius: 50%;border: 2px solid red; border-left: 2px solid transparent; margin-left: 200px; margin-top: -43px;">
                        <i class="fa-solid fa-chevron-right"
                            style="margin-top: 15px; color: red; margin-left: 20px;"></i>
                    </div>
                </a>


                <p style="padding-top: 30px; padding-left: 25px; padding-right: 10px;">Our Board of Browse through the
                    latest news and publications from our world of pumps and people over the past 80 years.
                </p>
            </div>

            <div class="main1-3div">
                <h4 style="margin-left: 25px;  padding: 20px;">Gallery
                </h4>

                <div class="main1-img"
                    style="background-image: url(https://www.varunaelectric.com/wp-content/uploads/CSR-media-landing-dummy.png.webp);">
                </div>

                <a href="Gallery.html" style="color: red; text-decoration: none;">
                    <h5 style="margin-left: 120px; margin-top: -43px;">click here</h5>
                </a>

                <a href="Gallery.html">
                    <div class="circle"
                        style="color: red; height: 50px; width: 50px; border-radius: 50%;border: 2px solid red; border-left: 2px solid transparent; margin-left: 200px; margin-top: -43px;">
                        <i class="fa-solid fa-chevron-right"
                            style="margin-top: 15px; color: red; margin-left: 20px;"></i>
                    </div>
                </a>


                <p style="padding-top: 30px; padding-left: 25px; padding-right: 10px;">Over the Welcome to our gallery.
                    Browse through high-resolution photos of our headquarters and facilities.
                </p>
            </div>
        </div>

    </main>


      <!-- footer code starts from here / footer code is on views/includes/footer.ejs -->
    <%- include('includes/footer')%>
    <!-- footer code ends here -->






    <div id="back-top">
        <a href="#"><i class="fa-solid fa-chevron-up" style="font-size: 15px; color: white;"></i></a>
    </div>


</body>

</html>