<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milestone</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="/css/milestone.css">
    <link rel="stylesheet" href="/css/utility.css">
    <script src="jquery-3.7.1.js"></script>
    <script>
        $(document).ready(function () {
            $("#bt1").click(function () {
                $("#txt1").show();
                $("#txt2").hide();
                $("#txt3").hide();
                $("#txt4").hide();
                $("#txt5").hide();
                $("#txt6").hide();
                $("#txt7").hide();
                $("#txt8").hide();
                $("#txt9").hide();
                $("#txt10").hide();
                $("#txt11").hide();
                $("#txt12").hide();
                $("#txt13").hide();
                $("#txt14").hide();
            });
            $("#bt2").click(function () {
                $("#txt2").show();
                $("#txt1").hide();
                $("#txt3").hide();
                $("#txt4").hide();
                $("#txt5").hide();
                $("#txt6").hide();
                $("#txt7").hide();
                $("#txt8").hide();
                $("#txt9").hide();
                $("#txt10").hide();
                $("#txt11").hide();
                $("#txt12").hide();
                $("#txt13").hide();
                $("#txt14").hide();
            });
            $("#bt3").click(function () {
                $("#txt3").show();
                $("#txt2").hide();
                $("#txt1").hide();
                $("#txt4").hide();
                $("#txt5").hide();
                $("#txt6").hide();
                $("#txt7").hide();
                $("#txt8").hide();
                $("#txt9").hide();
                $("#txt10").hide();
                $("#txt11").hide();
                $("#txt12").hide();
                $("#txt13").hide();
                $("#txt14").hide();
            });
            $("#bt4").click(function () {
                $("#txt4").show();
                $("#txt2").hide();
                $("#txt3").hide();
                $("#txt1").hide();
                $("#txt5").hide();
                $("#txt6").hide();
                $("#txt7").hide();
                $("#txt8").hide();
                $("#txt9").hide();
                $("#txt10").hide();
                $("#txt11").hide();
                $("#txt12").hide();
                $("#txt13").hide();
                $("#txt14").hide();
            });
            $("#bt5").click(function () {
                $("#txt5").show();
                $("#txt2").hide();
                $("#txt3").hide();
                $("#txt4").hide();
                $("#txt1").hide();
                $("#txt6").hide();
                $("#txt7").hide();
                $("#txt8").hide();
                $("#txt9").hide();
                $("#txt10").hide();
                $("#txt11").hide();
                $("#txt12").hide();
                $("#txt13").hide();
                $("#txt14").hide();
            });
            $("#bt6").click(function () {
                $("#txt6").show();
                $("#txt2").hide();
                $("#txt3").hide();
                $("#txt4").hide();
                $("#txt5").hide();
                $("#txt1").hide();
                $("#txt7").hide();
                $("#txt8").hide();
                $("#txt9").hide();
                $("#txt10").hide();
                $("#txt11").hide();
                $("#txt12").hide();
                $("#txt13").hide();
                $("#txt14").hide();
            });
            $("#bt7").click(function () {
                $("#txt7").show();
                $("#txt2").hide();
                $("#txt3").hide();
                $("#txt4").hide();
                $("#txt5").hide();
                $("#txt6").hide();
                $("#txt1").hide();
                $("#txt8").hide();
                $("#txt9").hide();
                $("#txt10").hide();
                $("#txt11").hide();
                $("#txt12").hide();
                $("#txt13").hide();
                $("#txt14").hide();
            });
            $("#bt8").click(function () {
                $("#txt8").show();
                $("#txt2").hide();
                $("#txt3").hide();
                $("#txt4").hide();
                $("#txt5").hide();
                $("#txt6").hide();
                $("#txt7").hide();
                $("#txt1").hide();
                $("#txt9").hide();
                $("#txt10").hide();
                $("#txt11").hide();
                $("#txt12").hide();
                $("#txt13").hide();
                $("#txt14").hide();
            });
            $("#bt9").click(function () {
                $("#txt9").show();
                $("#txt2").hide();
                $("#txt3").hide();
                $("#txt4").hide();
                $("#txt5").hide();
                $("#txt6").hide();
                $("#txt7").hide();
                $("#txt8").hide();
                $("#txt1").hide();
                $("#txt10").hide();
                $("#txt11").hide();
                $("#txt12").hide();
                $("#txt13").hide();
                $("#txt14").hide();
            });
            $("#bt10").click(function () {
                $("#txt10").show();
                $("#txt2").hide();
                $("#txt3").hide();
                $("#txt4").hide();
                $("#txt5").hide();
                $("#txt6").hide();
                $("#txt7").hide();
                $("#txt8").hide();
                $("#txt9").hide();
                $("#txt1").hide();
                $("#txt11").hide();
                $("#txt12").hide();
                $("#txt13").hide();
                $("#txt14").hide();
            });
            $("#bt11").click(function () {
                $("#txt11").show();
                $("#txt2").hide();
                $("#txt3").hide();
                $("#txt4").hide();
                $("#txt5").hide();
                $("#txt6").hide();
                $("#txt7").hide();
                $("#txt8").hide();
                $("#txt9").hide();
                $("#txt10").hide();
                $("#txt1").hide();
                $("#txt12").hide();
                $("#txt13").hide();
                $("#txt14").hide();
            });
            $("#bt12").click(function () {
                $("#txt12").show();
                $("#txt2").hide();
                $("#txt3").hide();
                $("#txt4").hide();
                $("#txt5").hide();
                $("#txt6").hide();
                $("#txt7").hide();
                $("#txt8").hide();
                $("#txt9").hide();
                $("#txt10").hide();
                $("#txt11").hide();
                $("#txt1").hide();
                $("#txt13").hide();
                $("#txt14").hide();
            });
            $("#bt13").click(function () {
                $("#txt13").show();
                $("#txt2").hide();
                $("#txt3").hide();
                $("#txt4").hide();
                $("#txt5").hide();
                $("#txt6").hide();
                $("#txt7").hide();
                $("#txt8").hide();
                $("#txt9").hide();
                $("#txt10").hide();
                $("#txt11").hide();
                $("#txt12").hide();
                $("#txt1").hide();
                $("#txt14").hide();
            });
            $("#bt14").click(function () {
                $("#txt14").show();
                $("#txt2").hide();
                $("#txt3").hide();
                $("#txt4").hide();
                $("#txt5").hide();
                $("#txt6").hide();
                $("#txt7").hide();
                $("#txt8").hide();
                $("#txt9").hide();
                $("#txt10").hide();
                $("#txt11").hide();
                $("#txt12").hide();
                $("#txt13").hide();
                $("#txt1").hide();
            });


            $("#hamburger").click(function () {
              $("#hamburger-slide").show();
              $("#hamburger-slide").css({ "height": "150vh", "width": "100vw", "left": "0px", "background-color": "white", "position": "absolute", "top": "-70px", "z-index": "10" });
          });

          $("#cross-icon").click(function(){
              // $("#hamburger").hide();
              $("#hamburger-slide").slideUp();
              // $("#hamburger-slide").css({ "display": "none" });
              // $("#hamburger").show();
          });
         

        });
    </script>
</head>

<body>

    
    <!-- header code is on views/includes/header.ejs file -->
  <%- include('includes/header')%>
  <!-- header code is between this comments -->




    <!-- main starts from here -->

    <main>


        <div style="display: flex; flex-direction: row; justify-content: center;" class="main1-range">
            <div class="main-range" style=" display: flex; gap: 50px; overflow-x: scroll;">
                <input type="button" value="2021" id="bt1">
                <input type="button" value="2020" id="bt2">
                <input type="button" value="2018" id="bt3">
                <input type="button" value="2017" id="bt4">
                <input type="button" value="2016" id="bt5">
                <input type="button" value="2015" id="bt6">
                <input type="button" value="2014" id="bt7">
                <input type="button" value="2013" id="bt8">
                <input type="button" value="2012" id="bt9">
                <input type="button" value="1997" id="bt10">
                <input type="button" value="1992" id="bt11">
                <input type="button" value="1981" id="bt12">
                <input type="button" value="1950" id="bt13">
                <input type="button" value="1935" id="bt14">
            </div>
        </div>
        <!-- <p style="margin-top: -23px; font-size: 20px; color: white;">scroll bar</p> -->

        <h2 style="text-align: center; color: red; padding-top: 100px;"><span style="color: black;">OUR</span> MILESTONE
        </h2>

        <div class="main-2part">


            <div class="main-2part-things" style=" margin-top: -10px;" id="txt1">
                <div class="main-1txt"
                    style="background-image: url(images/varuna-josh-img.png); width: 150px; height: 250px; background-size: contain; background-repeat: no-repeat; margin-top: 130px; border-radius: 10px; margin-left: 10px;">
                </div>


                <div class="main-1txt" style="margin-top: 100px;"> <!--1st-->
                    <h3 style="color: slategrey;"> Year 2021</h3>
                    <h3 style="color: red;">Varuna <span style="color: red;">Electric</span></h3>
                    <p>After 85 years of excellence, the company decided to rebrand itself from Varuna Pumps to Varuna
                        Electric. We launched our new logo and tagline,‘Har Boond mein Josh’
                    </p>
                </div>

            </div>



            <div class="main-2part-things" style="display: none; margin-top: -10px;" id="txt2">
                <div class="main-1txt"
                    style="background-image: url(images/varuna-2020-img.png); width: 150px; height: 250px; background-size: contain; background-repeat: no-repeat; margin-top: 130px; border-radius: 10px; margin-left: 10px;">
                </div>


                <div class="main-1txt" style="margin-top: 100px;"> <!--2nd-->
                    <h3 style="color: slategrey;"> Year 2021</h3>
                    <h3 style="color: red;">Crossed 500 Cro0e Mark</h3>
                    <p>Varuna Electric is one of the fastest growing companies in the Pump Industry. Amid the tensions
                        and fear of Covid-19, the hustle and bustle of Varuna Team, its Channel Partners and confidence
                        of its customers helped us to achieve the magic number of Rs. 500 Cr. in one financial year. We
                        celebrated the day with everyone associated with Varuna by having a cake cutting ceremony at
                        every stakeholder’s place.
                    </p>
                </div>

            </div>




            <div class="main-2part-things" style="display: none; margin-top: -10px;" id="txt3">
                <div class="main-1txt"
                    style="background-image: url(images/2018-img.png); width: 150px; height: 250px; background-size: contain; background-repeat: no-repeat; margin-top: 130px; border-radius: 10px; margin-left: 10px;">
                </div>


                <div class="main-1txt" style="margin-top: 100px;"> <!--3rd-->
                    <h3 style="color: slategrey;"> Year 2018</h3>
                    <h3 style="color: red;">Crossed 100 Crore Mark</h3>
                    <p>We believe in celebrating every little achievement and this was a huge year for everyone who
                        believes and tirelessly works for the brand that is aimed to grow and improve everyday. Within 4
                        years of launch, for the first time we crossed the Rs. 100 crore mark in International Business.
                    </p>
                </div>

            </div>





            <div class="main-2part-things" style="display: none; margin-top: -10px;" id="txt4">
                <div class="main-1txt"
                    style="background-image: url(images/2017-1-img.jpg); width: 150px; height: 250px; background-size: contain; background-repeat: no-repeat; margin-top: 130px; border-radius: 10px; margin-left: 10px;">
                </div>


                <div class="main-1txt" style="margin-top: 100px;"> <!--4th-->
                    <h3 style="color: slategrey;"> Year 2017</h3>
                    <h3 style="color: red;">Joining Hand For A Better Tommorow</h3>
                    <p>We believe in celebrating every little achievement and this was a huge year for everyone who
                        believes and tirelessly works for the brand that is aimed to grow and improve everyday. Within 4
                        years of launch, for the first time we crossed the Rs. 100 crore mark in International Business.
                    </p>
                </div>

            </div>





            <div class="main-2part-things" style="display: none; margin-top: -10px;" id="txt5">
                <div class="main-1txt"
                    style="background-image: url(images/2016-img.png); width: 150px; height: 250px; background-size: contain; background-repeat: no-repeat; margin-top: 130px; border-radius: 10px; margin-left: 10px;">
                </div>


                <div class="main-1txt" style="margin-top: 100px;"> <!--5th-->
                    <h3 style="color: slategrey;"> Year 2016</h3>
                    <h3 style="color: red;">Brand Initative</h3>
                    <p>Following the immense success of Radio Campaign, Varuna Electric decided to take a step further
                        in the brand awareness program. For this, we launched 2 TVC advertising campaigns which were
                        broadcasted on National Channels in India.
                    </p>
                </div>

            </div>






            <div class="main-2part-things" style="display: none; margin-top: -10px;" id="txt6">
                <div class="main-1txt"
                    style="background-image: url(images/2015-img.png); width: 150px; height: 250px; background-size: contain; background-repeat: no-repeat; margin-top: 130px; border-radius: 10px; margin-left: 10px;">
                </div>


                <div class="main-1txt" style="margin-top: 100px;"> <!--6th-->
                    <h3 style="color: slategrey;"> Year 2015</h3>
                    <h3 style="color: red;">Brand Initative</h3>
                    <p>To make bigger impacts in the market, Varuna Electric decided to create brand awareness with the
                        objective to reach its end customers. For this, the key was Network development – build
                        confidence in the network in terms of marketing support, service support and product quality.
                        Launched a radio campaign followed by aggressive marketing.
                    </p>
                </div>

            </div>




            <div class="main-2part-things" style="display: none; margin-top: -10px;" id="txt7">
                <div class="main-1txt"
                    style="background-image: url(images/2018-img.png); width: 150px; height: 250px; background-size: contain; background-repeat: no-repeat; margin-top: 130px; border-radius: 10px; margin-left: 10px;">
                </div>


                <div class="main-1txt" style="margin-top: 100px;"> <!--7th-->
                    <h3 style="color: slategrey;"> Year 2014</h3>
                    <h3 style="color: red;">Local For Global</h3>
                    <p>Backed by a strong domestic presence and 16 branches nationwide, Varuna Electric is now exporting
                        globally.
                    </p>
                </div>

            </div>




            <div class="main-2part-things" style="display: none; margin-top: -10px;" id="txt8">
                <div class="main-1txt"
                    style="background-image: url(images/2013-img.png); width: 150px; height: 250px; background-size: contain; background-repeat: no-repeat; margin-top: 130px; border-radius: 10px; margin-left: 10px;">
                </div>


                <div class="main-1txt" style="margin-top: 100px;"> <!--8th-->
                    <h3 style="color: slategrey;"> Year 2013</h3>
                    <h3 style="color: red;">EEPC Award</h3>
                    <p>For the 2nd Consecutive year, Varuna Electric was recognized by EEPC. Mr. Varun Gajjar attended
                        the program held in Mumbai.
                    </p>
                </div>

            </div>




            <div class="main-2part-things" style="display: none; margin-top: -10px;" id="txt9">
                <div class="main-1txt"
                    style="background-image: url(images/2012-img.png); width: 150px; height: 250px; background-size: contain; background-repeat: no-repeat; margin-top: 130px; border-radius: 10px; margin-left: 10px;">
                </div>


                <div class="main-1txt" style="margin-top: 100px;"> <!--9th-->
                    <h3 style="color: slategrey;"> Year 2012</h3>
                    <h3 style="color: red;">EEPC</h3>
                    <p>Engineering Export Promotion Council of India recognized the team of Varuna for their
                        contribution in the EEPC India 44th National Awards for Export Excellence 2011-12. Mr. Varun
                        Gajjar attended the event and shared the stage with the dignitaries.
                    </p>
                </div>

            </div>





            <div class="main-2part-things" style="display: none; margin-top: -10px;" id="txt10">
                <div class="main-1txt"
                    style="background-image: url(images/2018-img.png); width: 150px; height: 250px; background-size: contain; background-repeat: no-repeat; margin-top: 130px; border-radius: 10px; margin-left: 10px;">
                </div>


                <div class="main-1txt" style="margin-top: 100px;"> <!--10th-->
                    <h3 style="color: slategrey;"> Year 1997</h3>
                    <h3 style="color: red;">Emerging Market Leaders </h3>
                    <p>Being the agricultural economy, the focus on the sector and continuous improvement in the product
                        line helped us gain immense momentum in the market. Varuna Oil-filled Motor became the
                        forerunner in the 100 mm Submersible Pump market and has been leading the way for the industry
                        since then.
                    </p>
                </div>

            </div>




            <div class="main-2part-things" style="display: none; margin-top: -10px;" id="txt11">
                <div class="main-1txt"
                    style="background-image: url(images/2018-img.png); width: 150px; height: 250px; background-size: contain; background-repeat: no-repeat; margin-top: 130px; border-radius: 10px; margin-left: 10px;">
                </div>


                <div class="main-1txt" style="margin-top: 100px;"> <!--11th-->
                    <h3 style="color: slategrey;"> Year 1992</h3>
                    <h3 style="color: red;">Intorducing The Firts Oil Field Submersible </h3>
                    <p>The innovation and development of the product line has been the key for our success since
                        inception. What began with a Hand Blower in 1935 has now conceptualised the use of Oil-filled
                        Submersible Motors for the 100 mm sector and introduction of first Oil-filled Submersible Motor
                        in India.
                    </p>
                </div>

            </div>





            <div class="main-2part-things" style="display: none; margin-top: -10px;" id="txt12">
                <div class="main-1txt"
                    style="background-image: url(images/2018-img.png); width: 150px; height: 250px; background-size: contain; background-repeat: no-repeat; margin-top: 130px; border-radius: 10px; margin-left: 10px;">
                </div>


                <div class="main-1txt" style="margin-top: 100px;"> <!--12th-->
                    <h3 style="color: slategrey;"> Year 1981</h3>
                    <h3 style="color: red;">Expansion Of Product Line</h3>
                    <p>The new enterprise, La-Gajjar Machineries brought Bore-well Submersible and Open-well
                        Submersible, keeping the quality of the products intact.
                    </p>
                </div>

            </div>


            <div class="main-2part-things" style="display: none; margin-top: -10px;" id="txt13">
                <div class="main-1txt"
                    style="background-image: url(images/2018-img.png); width: 150px; height: 250px; background-size: contain; background-repeat: no-repeat; margin-top: 130px; border-radius: 10px; margin-left: 10px;">
                </div>


                <div class="main-1txt" style="margin-top: 100px;"> <!--13th-->
                    <h3 style="color: slategrey;"> Year 1950</h3>
                    <h3 style="color: red;">Largest Manufacturer Of India</h3>
                    <p>The milestone of 1950 was laid on the principle that the company envisions the long term vision
                        and is proof that we have taken steps in the right direction since the beginning. One of the
                        largest manufacturers in India with expertise in Hand Blowers, Power Blowers, Couple, Monoblock
                        Centrifugal Pumps and Electric Motors
                    </p>
                </div>

            </div>




            <div class="main-2part-things" style="display: none; margin-top: -10px;" id="txt14">
                <div class="main-1txt"
                    style="background-image: url(images/1935-img.png); width: 150px; height: 250px; background-size: contain; background-repeat: no-repeat; margin-top: 130px; border-radius: 10px; margin-left: 10px;">
                </div>


                <div class="main-1txt" style="margin-top: 100px;"> <!--14th-->
                    <h3 style="color: slategrey;"> Year 1935</h3>
                    <h3 style="color: red;">The Beginning</h3>
                    <p>A unique product – hand blower introduced to India by a visionary industrialist late Shri
                        Laljibhai J. Gajjar. A small step that turned the face of the Pump Industry in the decades to
                        follow.
                    </p>
                </div>

            </div>



        </div>


    </main>





   <!-- footer code starts from here / footer code is on views/includes/footer.ejs -->

   <%- include('includes/footer')%>

   <!-- footer code ends here -->






    <div id="back-top">
        <a href="#"><i class="fa-solid fa-chevron-up" style="font-size: 15px; color: white;"></i></a>
    </div>



</body>

</html>