<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta http-equiv="refresh"  content="10"> this meta is for refrshing page  -->
  <title>about-varuna</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <link rel="stylesheet" href="css/aboutVaruna.css">
  <link rel="stylesheet" href="/css/utility.css">
  <script src="public/js/dark_mode.js"></script>

  <script>
    $(document).ready(function () {

      $("#visit").click(function () {
        $("#warning").hide();
      });



      $("#hamburger").click(function () {
        $("#hamburger-slide").show();
        $("#hamburger-slide").css({
          "height": "150vh", "width": "100vw", "left": "0px", "background-color": "white",
          "position": "absolute", "top": "-70px", "z-index": "10"
        });
      });

      $("#cross-icon").click(function () {
        // $("#hamburger").hide();
        $("#hamburger-slide").slideUp();
        // $("#hamburger-slide").css({ "display": "none" });
        // $("#hamburger").show();
      });

    });
  </script>

</head>

<body>

  <!-- header code is on views/includes/header.ejs file -->
  <%- include('includes/header')%>
    <!-- header code is between this comments -->



   

    <%- include('includes/footer')%>



      <div id="back-top">
        <a href="#"><i class="fa-solid fa-chevron-up" style="font-size: 15px; color: white;"></i></a>
      </div>





</body>

</html>