<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quality policy</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="/css/qualityPolicy.css">
    <link rel="stylesheet" href="/css/utility.css">

  <script>
  $(document).ready(function () {
    $("#hamburger").click(function () {
              $("#hamburger-slide").show();
              $("#hamburger-slide").css({ "height": "150vh", "width": "100vw", "left": "0px", "background-color": "white", "position": "absolute", "top": "-70px", "z-index": "10" });
          });

          $("#cross-icon").click(function(){
              // $("#hamburger").hide();
              $("#hamburger-slide").slideUp();
              // $("#hamburger-slide").css({ "display": "none" });
              // $("#hamburger").show();
          });
         

          
  });
</script>
</head>

<body>


     <!-- header code is on views/includes/header.ejs file -->
  <%- include('includes/header')%>
  <!-- header code is between this comments -->



    <!-- main starts from here -->



    <main>

        <div
            style="background-image: url(/images/Quality-policy-img.webp); width: 100vw; height: 250px; background-size: contain; background-repeat: unset; opacity: 0.8; ">
            <h3 style="color: red; text-align: center;padding-top: 80px;">Quality-Policy
            </h3>
            <div style="color: black; text-align: center; padding-top: 30px; font-size: 20px; font-weight: 500;"><a
                    href="/" style="color: red; text-decoration: none; text-align: center;">Home</a> | <a
                    href="/aboutVaruna" style="color: red; text-decoration: none; text-align: center;">About
                    Varuna</a> | <a href="/qualityPolicy"
                    style="color: red; text-decoration: none; text-align: center;">Quality-Policy</a></div>
        </div>



        <div id="main1">

            <div class="main-1part">
                <div class="main-1txt"
                    style="background-image: url(Quality-Policy.images.webp); width: 150px; height: 250px; background-size: contain; background-repeat: no-repeat; margin-top: 150px; border-radius: 10px;">
                </div>


                <div class="main-1txt"> <!--1st-->
                    <h3>Quality <span style="color: red;">Policy</span></h3>
                    <p>By quality policy, we at Varuna don’t just limit our teams to being technically brilliant or up
                        to date with international standards and practices.
                    </p>
                    <p>Instead, we inherit the virtue of quality in every aspect, action, and procedure of our company.
                        We also believe in achieving organizational excellence by nurturing human capital through
                        continual benchmarking and adopting best practices, thereby contributing to organizational
                        development.
                    </p>
                    <p>We always strive to provide quality products and after-sales services that consistently go above
                        and beyond our customers’ expectations. We are committed to excellence and conscious
                        improvements so that we can endow our customers with the best products and services keeping in
                        mind the welfare of the society and environment as well. We aim to achieve our objectives by
                        involving our workforce, accepting technology, adhering to cost reduction, and emphasizing
                        continual improvement.
                    </p>
                    <ul style="color: red;">
                        <li><span style="color: black;">Quality of the product and services
                            </span></li>
                        <li><span style="color: black;">Compliance of quality management system
                            </span></li>
                    </ul>
                    <p>Explained in simply words, excellence is what we strive for and subsequently, quality reflects in
                        our products.
                    </p>
                </div>

            </div>

        </div>







        <div id="main2" style="margin-top: -180px;"> <!--2nd-->


            <div class="main-2part">
                <div class="main-2txt"
                    style="background-image: url(RD.png.webp); width: 150px; height: 250px; background-size: contain; background-repeat: no-repeat; margin-top: 90px; border-radius: 10px;">
                </div>

                <div class="main-2txt">
                    <h3>Research & <span style="color: red;">Development</span></h3>
                    <p>Research and Technology Development has always been our center of attraction to everything Varuna
                        has ever done and created. From our very first unique hand blower to being the world’s reputed
                        and sought-after brand in pumping solutions to making a name for ourselves in the export world –
                        we utilize the best available technology to create timeless assets ensuring long-term returns to
                        our stakeholders.
                    </p>

                    <p>It takes relentless efforts, daring experimentations, and continuous tracking over product
                        enhancement to achieve such a leading position in the industry. We leave no stone unturned in
                        conducting path-breaking research work at our R&D department and always strive to bring our
                        A-game on every single time. At Varuna Electric, we intend to make your life easy with the
                        latest innovations and unique modifications in pumping solutions, customized to suit the
                        changing dynamics of the industry.
                    </p>
                </div>
            </div>


        </div>


    </main>


    <!-- footer code starts from here / footer code is on views/includes/footer.ejs -->

    <%- include('includes/footer')%>

    <!-- footer code ends here -->






    <div id="back-top">
        <a href="#"><i class="fa-solid fa-chevron-up" style="font-size: 15px; color: white;"></i></a>
    </div>


</body>

</html>