<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write To Us</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <link rel="stylesheet" href="/css/WriteToUs.css">
    <link rel="stylesheet" href="/css/utility.css">

    <script>
        $(document).ready(function () {
            $("#hamburger").click(function () {
                $("#hamburger-slide").show();
                $("#hamburger-slide").css({ "height": "150vh", "width": "100vw", "left": "0px", "background-color": "white", "position": "absolute", "top": "-70px", "z-index": "10" });
            });

            $("#cross-icon").click(function () {
                // $("#hamburger").hide();
                $("#hamburger-slide").slideUp();
                // $("#hamburger-slide").css({ "display": "none" });
                // $("#hamburger").show();
            });



        });
    </script>
</head>

<body>
    

     <!-- header code is on views/includes/header.ejs file -->
     <%- include('includes/header')%>
     <!-- header code is between this comments -->


    <main>

        <div
            style="background-image: url(https://images.unsplash.com/photo-1505744386214-51dba16a26fc?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjN8fHdyaXRlJTIwdG8lMjB1c3xlbnwwfHwwfHx8MA%3D%3D); width: 100vw; height: 250px; background-size: contain; opacity: 0.8;">
            <h3 style="color: red; text-align: center;padding-top: 90px;">
                Write To Us
            </h3>
            <div style="color: white; text-align: center; font-size: 20px; font-weight: 500;"><a href="/"
                    style="color: red; text-decoration: none; text-align: center;">Home</a> | <a href="/contact"
                    style="color: black; text-decoration: none; text-align: center;">Contact
                </a> | <a href="/WriteToUs"
                    style="color: red; text-decoration: none; text-align: center;">Write-to-us</a></div>
        </div>


        <div style=" margin-top: 80px; text-align: center;">
            <h4>Enquiry <span style="color: red;">Form</span></h4>
            <p style="margin-left: px;">
                For any queries and general information about our products and services, please contact us using the
                following form. <br>
                We will get back to you shortly.
            </p>
        </div>
        <br><br>


        <form action="" style="display: flex; flex-direction: column; justify-content: center;">

            <div style="margin-left: 40px;">
                <input type="text" placeholder="Your Name" style="width: 30vw;" required>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="email" placeholder="Your Email" style="width: 30vw;" required>
            </div>
            <br>
            <div style="margin-left: 40px;">
                <input type="number" placeholder="Phone" style="width: 30vw;" required>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" placeholder="City" style="width: 30vw;" required>
            </div>
            <br>
            <div style="margin-left: 40px;">
                <textarea name="" id="" style="width: 63vw; height: 100px;" placeholder="Message"></textarea>
            </div>
            <br>

            <input type="submit"
                style="margin-left: 40px; background-color: red; padding: 5px; width: 100px; border: 2px solid transparent; border-radius: 10px; color: white;">

        </form>


    </main>
    <br><br>


     <!-- footer code is on views/includes/footer.ejs file -->
     <%- include('includes/footer')%>
     <!-- footer code is between this comments -->






    <div id="back-top">
        <a href="#"><i class="fa-solid fa-chevron-up" style="font-size: 15px; color: white;"></i></a>
    </div>



</body>

</html>